.popupWrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.63);
}

.popup {
    background-color: var(--cBgSecondary);
    width: 100%;
    max-width: 800px;
    position: fixed;
    left: 50%;
    top: 50%;
    padding: 16px 30px;
    border-radius: 20px;
    z-index: 3;
    transform: translate(-50%, -50%);
}

.icon {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.carrierCard {
    display: flex;
}

.carrierCardInfo {
    margin-left: 15px;
}

.carrierName {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: var(--cTextThird);
    letter-spacing: 0.4px;
    margin-bottom: 10px;
}

.carrierRating {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */
    margin-bottom: 5px;
    letter-spacing: 0.4px;
    color: var(--cTextLow);
}

.carrierCompletedOrders {
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height, or 100% */

    letter-spacing: 0.4px;
    color: var(--cTextLow);
}
.carrierRating > span {
    color: var(--cTextPrimary);
    font-weight: 600;
}

.carrierCompletedOrders > span {
    font-weight: 600;
    color: var(--cTextSuccess);
}

.receiverInfo {
    padding-top: 35px;
    display: flex;
    max-width: 400px;
    justify-content: space-between;
    gap: 36px;
    padding-bottom: 20px;
}

.infoCol {
    display: flex;
}

.infoPriceValue {
    white-space: nowrap;
}

.carrierInfo {
    padding-top: 35px;
    display: flex;
    max-width: 550px;
    justify-content: space-between;
    gap: 16px;
    padding-bottom: 30px;
}

.inputItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.inputItem > label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: var(--cTextPrimary);
}

.input {
    width: 100%;
    max-width: 350px;
    height: 40px;
}

.select {
    border-radius: 15px;
}

.input :global .MuiInputBase-root {
    border-radius: 15px;
    height: 40px;
}

.input :global .MuiOutlinedInput-input {
    height: 6px;
}

.infoItem {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
    max-width: 300px;
    color: var(--cTextPrimary);
}

.infoItemWay {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    display: flex;
    width: fit-content;
    max-width: 300px;
    color: var(--cTextPrimary);
}

.infoItemWay > span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: none;
    width: 100%;
    max-width: 200px;
    font-weight: 500;
    font-size: 16px;
    color: var(--cTextThird);
}

.infoWayItems {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
    gap: 26px;
}

.infoItem > span {
    text-transform: none;
    width: 65px;
    font-weight: 500;
    font-size: 16px;
    color: var(--cTextThird);
}

.carrierDescription {
    margin-top: 15px;
    margin-bottom: 18px;
}

.carrierDescriptionTitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 100% */
    color: var(--cTextPrimary);
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.carrierApplyButton {
    display: block;
    margin-left: auto;
    margin-top: 10px;
    background: var(--cBg);
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    padding: 8px 46.5px;
    letter-spacing: 0.46px;
    text-transform: uppercase;
    color: var(--cTextSecondary);
    border-radius: 16px;
}

.carrierDescriptionBody {
    width: 100%;
}

.carrierDescriptionBody :global .MuiInputBase-root {
    border-radius: 15px;
}

.onlyDateInput :global .MuiInputBase-root {
    border-radius: 15px;
    height: 40px;
    width: 100%;
    max-width: 350px;
}

.productName {
    font-weight: 400;
    color: var(--cTextPrimary);
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.productDescription {
    background-color: rgba(0, 0, 0, 0.058);
    padding: 7px 15px;
    border-radius: 16px;
    min-height: 80px;
    font-weight: 300;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.4px;
    color: var(--cTextThird);
}

.formItems {
    margin: 25px 0;
}

@media screen and (max-width: 850px) {
    .popup { 
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .carrierName {
        font-size: 20px;
    }
    .carrierRating {
        font-size: 15px;
    }
    .carrierCompletedOrders {
        font-size: 15px;
    }
    .infoItemWay {
        font-size: 12px;
    }
    .infoItemWay > span {
        font-size: 14px;
    }
    .infoItem {
        font-size: 12px;
    }
    .infoItem > span {
        font-size: 14px;
    }
    .productName {
        font-size: 12px;
    }
    .inputItem > label {
        font-size: 12px;
    }
    .input :global .MuiInputBase-root {
        font-size: 12px;
    }   
    .productDescription {
        font-size: 13px;
    }
    .carrierDescriptionTitle {
        font-size: 12px;
    }
}

@media screen and (max-width: 530px) {
    .receiverInfo {
        flex-direction: column;
    }
    .infoItem {
        justify-content: start;
    }
    .infoItemWay > span {
        max-width: 300px;
    }
    .infoCol {
        margin-top: -15px;
    }
    .carrierInfo {
        flex-direction: column;
    }
    .stack {
        margin-top: 5px;
    }
}

@media screen and (max-width: 480px) {
    .formItems {
        flex-direction: column;
    }
    .inputItemSecond {
        margin-left: 0 !important;
        padding-top: 5px;
    }
    .infoItem{
        font-size: 10px;
    }
    .infoItemWay {
        font-size: 10px;
    }
    .infoItem > p {
        width: 80px;
    }
    .inputItem > label {
        font-size: 10px;
    }
    .carrierDescriptionTitle {
        font-size: 10px;
    }
    .carrierName {
        font-size: 18px;
        margin-bottom: 5px;
    }
    .carrierRating {
        font-size: 12px;
        line-height: 12px;
    }
    .carrierCompletedOrders {
        font-size: 12px;
        line-height: 12px;
    }
    .receiverInfo {
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .productName {
        font-size: 10px;
    }
    .formItems {
        margin: 10px 0;
    }
    .carrierApplyButton {
        width: 120px;
        font-size: 10px;
        padding: 5px;
        margin-top: 15px;
        line-height: 14px;
    }
}