.receiverContent {
    display: flex;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 10px;
    flex: 1;
}

.dashboardContainer {
    display: flex;
    flex-direction: column;
}

.littleOrdersContainer {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 20px;
}

.receiverTitle {
    padding-top: 24px;
    font-weight: 600;
    font-size: 36px;
    line-height: 50px;
    letter-spacing: 0.46px;
    color: var(--cTextThird);
}

.ordersWrapper {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 27px;
    flex: 1;
}

.ordersWrapper.emptyOrders {
    background-color: var(--cBgThird);
    color: var(--cTextPrimary);
    border-radius: 20px;
    justify-content: center;
    align-items: center;
}

.ordersWindow {
    flex: 1;
    padding-right: 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.currentlyWindow {
    background: #f3f3f3;
    border-radius: 20px;
    max-width: 450px;
    width: 100%;
    padding-bottom: 22px;
    margin-bottom: 40px;
    text-align: end;
    height: fit-content;
}

.currentlyWindowContainer {
    margin: 0 auto;
    max-width: 400px;
}

.currentlyTitle {
    text-align: start;
    padding: 20px;
    padding-left: 0;
    font-weight: 700;
    font-size: 21px;
    line-height: 32px;
    letter-spacing: 0.46px;
}

.newOrderButtons {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.newOrderButton {
    border-radius: 16px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 35px;
    display: flex;
    gap: 6px;
    align-items: center;
}

.newOrderButton.sending {
    background-color: var(--cStatusSuccess);
}

.newOrderButton.sending:hover {
    background-color: #15750c;
}

.showMoreButton {
    border-radius: 16px;
    padding: 8px 30px;
}

.popupIsClosed {
    display: none;
}

.popupIsOpen {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.579);
    display: block;
    width: 100%;
    height: 100%;
    z-index: 5;
}

@media screen and (max-width: 900px) {
    .ordersWindow {
        text-align: center;
    }
}

@media screen and (max-width: 770px) {
    .receiverTitle {
        font-size: 30px;
        font-weight: 700;
    }
}

@media screen and (max-width: 500px) {
    .newOrderButtons {
        margin: 0 auto;
    }
    .newOrderButton {
        font-size: 10px;
    }
    .receiverTitle {
        font-size: 20px;
        line-height: 30px;
        text-align: center;
    }
    .dashboardContainer {
        padding: 10px;
    }
}
