.footer {
    background-color: var(--cBgSecondary);
    display: flex;
    width: 100%;
    height: 358px;
    justify-content: space-between;
    color: var(--cTextThird);
    padding: 30px;
}

.formControl {
    border-radius: 16px !important;
}

.leftBlock {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    margin-right: 30px;
}

.leftBlock > div {
    margin-bottom: 20px;
}

.centerBlock {
    margin: auto 0;
    display: flex;
    flex: 1;
}

.centerBlockInner {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.centerColumn {
    display: flex;
    flex-flow: column;
    max-width: 160px;
    width: 100%;
}

.centerLink {
    color: var(--cTextThird);
    text-decoration: none;
    margin-top: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    letter-spacing: 0.4px;
}

.columnTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: justify;
    letter-spacing: 0.4px;
}

.rightBlock {
    margin-top: auto;
    display: flex;
}

.footerIcon {
    font-size: 30px;
    margin-left: 17px;
    color: var(--cTextThird);
}

@media screen and (max-width: 1125px) {
    .footer {
        padding-top: 60px;
    }
    .leftBlock {
        width: 140px;
    }
    .centerBlock {
        margin: 0;
    }
    .rightBlock {
        justify-content: right;
        margin-top: 200px;
    }
    .avatar {
        display: none;
    }
    .footer {
        padding-bottom: 10px;
        height: auto;
    }
    .input {
        width: 140px !important;
    }
}

@media screen and (max-width: 900px) {
    .footer {
        flex-direction: column;
        padding-top: 60px;
    }
    .rightBlock {
        margin-top: 10px;
    }
    .centerBlockInner {
        justify-content: left;
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    .columnTitle {
        font-size: 15px;
    }
    .centerLink {
        font-size: 12px;
        margin-top: 10px;
    }
}