.footer {
    background-color: #ffffff;
    display: flex;
    width: 100%;
    height: 358px;
    justify-content: space-between;
    color: #000000;
    padding: 30px;
}

.leftBlock {
    margin-top: 15px;
}

.leftBlock > div {
    margin-bottom: 20px;
}

.centerBlock {
    margin: auto 0;
    display: flex;
}

.centerColumn {
    display: flex;
    flex-flow: column;
    margin: 0 100px;
}

.centerLink {
    color: #000000;
    text-decoration: none;
    margin-top: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    letter-spacing: 0.4px;
}

.columnTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: justify;
    letter-spacing: 0.4px;
}

.rightBlock {
    margin-top: auto;
    display: flex;
}

.footerIcon {
    font-size: 30px;
    margin-left: 17px;
    color: #000000;
}
