.footer {
    background: linear-gradient(
        180deg,
        var(--cBgLandingMain) 60%,
        var(--cBgSecondary) 100%
    );
    display: flex;
    width: 100%;
    height: 358px;
    justify-content: space-between;
    color: var(--cTextThird);
    padding: 30px;
    position: relative;
    z-index: 1;
}

.authorizedFooter {
    display: flex;
    width: 100%;
    height: 358px;
    justify-content: space-between;
    color: var(--cTextThird);
    padding: 30px;
    position: relative;
    z-index: 1;
    background: linear-gradient(
        180deg,
        var(--cBgLandingMain) 75%,
        var(--cBgSecondary) 100%
    );
    /* background-color: var(--cBgSecondary); */
}

.formControl {
    border-radius: 16px !important;
    height: 45px;
}

.leftBlock {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    margin-right: 30px;
}

.leftBlock > div {
    margin-bottom: 20px;
}

.centerBlock {
    margin: auto 0;
    padding-left: 75px;
    display: flex;
    flex: 1;
}

.rights {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rightsSmall {
    display: none;
}

.icons {
    display: flex;
}

.rightsText {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerBlockInner {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 60px;
}

.centerColumn {
    display: flex;
    flex-flow: column;
    max-width: 180px;
    width: 100%;
}

.centerLink {
    color: var(--cTextLow);
    text-decoration: none;
    margin-top: 15px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: justify;
    letter-spacing: 0.4px;
    transition-duration: 200ms;
}

.centerLink:hover {
    color: var(--cTextPrimary);
}

.columnTitle {
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    text-align: justify;
    letter-spacing: 0.4px;
}

.rightBlock {
    margin-top: auto;
    padding-right: 75px;
    display: flex;
}

.rightsText {
    color: var(--cTextLow);
}

.footerIcon {
    margin-left: 17px;
    color: var(--cTextThird);
    transition-duration: 250ms;
}

.footerIcon:hover {
    color: var(--cTextPrimary);
}

@media screen and (max-width: 1125px) {
    .footer {
        padding-top: 60px;
        padding-bottom: 10px;
        height: auto;
    }
    .authorizedFooter {
        padding-top: 60px;
        padding-bottom: 10px;
        height: auto;
    }
    .leftBlock {
        width: 140px;
    }
    .centerBlock {
        margin: 0;
        margin-top: 80px;
        padding-left: 10px;
    }
    .rightBlock {
        justify-content: right;
        margin-top: 280px;
    }
    .rights {
        flex-direction: column;
        gap: 5px;
    }
    .input {
        width: 140px !important;
    }
}

@media screen and (max-width: 900px) {
    .footer {
        flex-direction: column;
        padding-top: 60px;
    }
    .centerBlock {
        margin-top: 0;
    }
    .authorizedFooter {
        flex-direction: column;
        padding-top: 60px;
    }
    .rightBlock {
        margin-top: 35px;
        justify-content: space-between;
    }
    .rights {
        display: none;
    }
    .centerBlockInner {
        gap: 30px;
        flex-direction: column;
    }
    .rightsSmall {
        display: flex;
        gap: 5px;
    }
    .icons {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .columnTitle {
        font-weight: 700;
    }
    .centerLink {
        white-space: nowrap;
    }
    .centerBlockInner {
        flex-direction: column;
        align-items: flex-start;
        margin-left: 5px;
        gap: 30px;
    }
    .centerLink {
        margin-top: 10px;
        text-align: left;
    }
    .rightsText {
        font-size: 12px;
    }
    .footer {
        padding: 10px;
    }
    .authorizedFooter {
        padding: 10px;
    }
    .avatar {
        width: 40px;
        height: 40px;
    }
    .centerBlock {
        padding-left: 0;
    }
    .rightBlock {
        display: flex;
        padding-right: 0;
        flex-direction: column-reverse;
    }
    .icons {
        margin: 20px auto;
        gap: 35px;
    }
    .footerIcon:first-child {
        margin-left: 0;
    }
    .rightsSmall {
        margin: 10px auto;
    }
}
