.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: var(--cBgSecondary);
}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.4px;
    color: var(--cTextThird);
    margin-bottom: 30px;
}

.inputItem {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
}

.inputItem > label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: var(--cTextPrimary);
}

.input {
    width: 100%;
}

.select {
    border-radius: 15px;
}

.input :global .MuiInputBase-root {
    border-radius: 15px;
}

.form {
    width: 100%;
    max-width: 624px;
}

.formGeneral {
    margin-bottom: 24px;
}

.confirmButton {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    margin-top: 20px !important;
    margin-left: auto !important;
}
