.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: var(--cBgSecondary);
}

.verWrapper {
    justify-content: center;
    height: 100%;
}

.Iframe {
    border: none;
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.verificationComplete {
    display: flex;
    align-items: center;
    gap: 20px;
    color: var(--cTextSuccess);
}

.verificationComplete svg {
    font-size: 120px;
}

.verificationCompleteText {
    font-size: 40px;
}

@media screen and (max-width: 823px) {
    .Iframe {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
    .verificationComplete svg {
        font-size: 100px;
    }

    .verificationCompleteText {
        font-size: 32px;
    }
}

.title {
    margin-top: 20px;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.4px;
    color: var(--cTextThird);
    margin-bottom: 30px;
}

.inputItem {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    width: 100%;
}

.inputItem > label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: var(--cTextPrimary);
}

.input {
    width: 100%;
}

.input.inputPhone :global .MuiInputAdornment-root {
    display: none;
}

.inputPhone > div {
    padding-left: 0px;
}

.inputPhone > div > input {
    padding: 8px 14px;
}

.input > div > input {
    padding: 8px 14px;
}

.select {
    border-radius: 15px;
    height: 40px;
}

.input :global .MuiInputBase-root {
    border-radius: 15px;
    height: 40px;
}

.form {
    width: 100%;
    max-width: 624px;
}

.changeToRight {
    margin-left: auto !important;
    margin-top: 0px !important;
}

.formGeneral {
    margin-bottom: 24px;
}

.confirmButton {
    width: 200px;
    height: 40px;
    border-radius: 15px;
    margin-top: 20px !important;
    margin-left: auto !important;
}

@media screen and (max-width: 850px) {
    .title {
        font-size: 30px;
    }
    .inputItem > label {
        font-size: 12px;
    }
}

@media screen and (max-width: 660px) {
    .verificationComplete svg {
        font-size: 70px;
    }
    .verificationCompleteText {
        font-size: 24px;
        white-space: nowrap;
    }
}

@media screen and (max-width: 530px) {
    .verificationComplete {
        flex-direction: column;
        gap: 10px;
        margin: 0 10px;
    }
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 24px;
        margin-bottom: 15px;
    }
    .stack {
        flex-direction: column;
        margin-top: 10px !important;
    }
    .inputItemSecond {
        margin-left: 0 !important;
        padding-top: 10px;
    }
    .inputItem {
        width: 100%;
        max-width: 500px;
    }
    .confirmButton {
        width: 170px;
        font-size: 12px;
    }
}

@media screen and (max-width: 410px) {
    .verificationComplete svg {
        font-size: 70px;
    }
    .verificationCompleteText {
        font-size: 20px;
        white-space: nowrap;
    }
}
