.wrapper {
    height: 100px;
    display: flex;
    background-color: var(--cBgSecondary);
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button {
    border-radius: 20px;
    margin: 0 10px;
    padding: 6px 16px;
    font-weight: 600;
    scale: 1.2 !important;
}

.flexDisplay {
    display: flex;
}