.mainWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    background-color: var(--cBgSecondary);
    position: relative;
    z-index: 2;
    width: 100%;
    -webkit-box-shadow: 0px 4px 5px -6px var(--cBoxShadowHeader);
    -moz-box-shadow: 0px 4px 5px -6px var(--cBoxShadowHeader);
    box-shadow: 0px 4px 5px -6px var(--cBoxShadowHeader);
}

.leftMenu {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.authoridedIcons {
    display: flex;
    align-items: center;
}

.notificationsIconHeader {
    color: var(--cTextPrimary);
    margin-right: 10px;
}

.frindlyAvatar {
    position: relative;
    overflow: visible;
}

.frindlyAvatar::before {
    position: absolute;
    content: 'Beta';
    font-size: 14px;
    font-weight: bold;
    bottom: -6px;
    right: -14px;
    color: var(--cTextPrimary);
}

.themeBlock {
    display: flex;
    cursor: pointer;
    margin-right: 10px;
    color: var(--cTextPrimary);
}

.themeIcon {
    width: 32px;
    height: 32px;
}

.rightMenu {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.leftMenuLinks {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-left: 30px;
}

.linkBlock {
    display: flex;
    align-items: center;
    gap: 4px;
    height: 80px;
    padding: 0 14px;
    transition-duration: 0.3s;
}

.headerIconNoAuthorized {
    display: flex;

    color: var(--cTextPrimary);
}

.headerIcon {
    display: flex;
    color: var(--cTextPrimary);
}

.themeSwitcher {
    display: block;
}

.mobileThemeSwitcher {
    display: none;
}

.leftMenuLinksAuth {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.link {
    font-size: 19px;
    line-height: 20px;
    white-space: nowrap;
}

.linkBlock:hover {
    background: var(--cBgThird);
}

.link:first-child {
    margin-left: 24px;
}

.button {
    border-radius: 12px;
    margin: 0 10px;

    padding: 6px 16px;
    font-weight: 600;
}

.button :global .MuiLink-root {
    text-decoration: none;
}

.userPanel {
    display: flex;
    align-items: center;
}

.userAvatar {
    margin-left: 10px;
    cursor: pointer;
}

.growMenu {
    margin-top: 21px;
    background: var(--cBgSecondary);
    border-radius: 4px;
}

.emailItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding-top: 5px; */
    padding-bottom: 15px;
    border-bottom: 1px solid var(--cBorderSecondary);
}

.emailItem > span {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: var(--cTextThird);
}

.emailItem > div {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.17px;
    color: var(--cTextLow);
}

.logoutItem {
    padding-top: 12px;
    border-top: 1px solid var(--cBorderSecondary);
}

.carrierLayoutContent {
    background-color: var(--cBgSecondary);
    min-height: calc(100vh - 80px) !important;
    display: flex;
}

.blurWrapper {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 1;
}

.blurWrapperOn {
    display: block;
    backdrop-filter: blur(1px);
}

.mobileMenu {
    position: fixed;
    min-height: 100vh;
    width: 50%;
    top: 0;
    right: 0;
    background-color: var(--cBgSecondary);
}

.openMobileMenu {
    animation-name: slide;
    animation-duration: 0.3s;
    z-index: 2;
}

.closeMobileMenu {
    animation-name: backSlide;
    z-index: 2;
    animation-duration: 0.3s;
}

.mobileMenuPaper :global .MuiList-root {
    padding: 0;
}

.userAvatarMobile {
    margin-right: 7px;
}

.mobileMenuIcon {
    color: var(--cTextPrimary);
}

.userItem {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--cBorderSecondary);
    padding: 21px 0;
    max-height: 81px;
    padding-left: 10px;
}

.userItem > div > span {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    max-width: 135px;
    letter-spacing: 0.15px;
    color: var(--cTextThird);
}

.userItem > div > div {
    font-weight: 400;
    font-size: 10px;
    line-height: 143%;
    letter-spacing: 0.17px;
    color: var(--cTextLow);
}

.profileItemMobile {
    padding-left: 10px;
    font-size: 14px;
}

.bullingItem {
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 14px;
}

.settingsItem {
    padding-left: 10px;
    font-size: 14px;
}

.dashboardItem {
    padding-left: 10px;
    font-size: 14px;
}

.orderSearchItem {
    padding-left: 10px;
    font-size: 14px;
}

.exitItem {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    display: flex;
    color: var(--cTextThird);
    justify-content: center;
    border-top: 1px solid var(--cBorderSecondary);
}

.mobileMenuPaper {
    min-height: 100vh;
    background-color: var(--cBgSecondary);
    padding: 0;
}

.profileItemMobile > span {
    margin-left: 5px;
    color: var(--cTextThird);
}

.settingsItem > span {
    margin-left: 5px;
    color: var(--cTextThird);
}

.bullingItem > span {
    margin-left: 5px;
    color: var(--cTextThird);
}

.dashboardItem > span {
    margin-left: 5px;
    white-space: nowrap;
    color: var(--cTextThird);
}

.orderSearchItem > span {
    margin-left: 5px;
    color: var(--cTextThird);
}

.mobileMenuWrapper {
    display: none;
}

.contentWhenMobileOpen {
    position: relative;
    z-index: 1;
}

.mobileMenuContent {
    display: flex;
    align-items: center;
    gap: 12px;
}

.notificationsMobileTitle {
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.225);
    text-align: center;
    font-size: 15px;
    color: var(-cTextThird);
}

.notificationsMobileBlock {
    max-height: 300px;
    overflow-x: hidden;
}

.notificationsMobileBlock::-webkit-scrollbar {
    display: none;
}

.notificationsMobileBlock {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.notificationsMarkAllButton {
    margin-top: 10px;
    justify-content: flex-end;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--cTextThird);
    transition-duration: 300ms;
}

.notificationsMarkAllButton > span {
    margin-left: 5px;
}

.notificationsMarkAllButton:hover {
    color: var(--cTextPrimary);
}

.emplyNotifications {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}

@media screen and (max-width: 690px) {
    .leftMenuLinks {
        white-space: nowrap;
    }
    /* .linkBlock {
        margin-right: 18px;
    } */
    .themeBlock {
        margin-right: 5px;
    }
    .themeSwitcher {
        display: none;
    }
    .mobileThemeSwitcher {
        display: flex;
    }
    .rightMenu {
        display: none;
    }
    .button {
        font-weight: 400;
        line-height: 20px;
        font-size: 19px;
        text-transform: none;
    }
    .mobileMenuWrapper {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 4;
        font-size: 10px;
        margin-right: 28px;
    }
    .link {
        font-size: 15px;
        display: none;
    }
    .mobileMenuContent {
        gap: 5px;
    }
}

@media screen and (max-width: 567px) {
    .button {
        font-size: 15px;
        margin: 0 5px;
    }
}

@media screen and (max-width: 530px) {
    .button {
        margin: 0 5px;
    }
    .leftMenuLinks {
        margin-right: 10px;
    }
    .leftMenuAuth {
        margin-left: 10px;
    }
}

@media screen and (max-width: 490px) {
    .notificationsMarkAllButton {
        font-size: 12px;
        gap: 5px;
        text-align: right;
    }
    .mobileMenuWrapper {
        margin-right: 9px;
    }
    .leftMenuLinks {
        margin-left: 0pxцц;
    }
    .button {
        margin: 0 5px;
    }
}

@media screen and (max-width: 470px) {
    .link {
        font-size: 14px;
        padding: 0 8px;
    }
    .linkBlock {
        padding: 0 6px;
    }
    .mobileThemeSwitcher {
        padding-right: 3px;
    }
    .button {
        font-size: 14px;
        margin: 0 5px;
        padding: 0 5px;
    }
    .link:first-child {
        margin-left: 0px;
    }
    .notificationsMarkAllButton {
        font-size: 12px;
        gap: 5px;
        text-align: right;
    }
}

@media screen and (max-width: 440px) {
    .notificationsMarkAllButton {
        font-size: 10.5px;
        gap: 3.5px;
        text-align: right;
    }
}

@media screen and (max-width: 400px) {
    .notificationsMarkAllButton {
        font-size: 10px;
        gap: 5px;
        text-align: right;
    }
    .link {
        font-size: 12px;
    }
    .button {
        font-size: 14px;
        margin: 0 5px;
        padding: 2px 4px;
    }
}

@keyframes slide {
    0% {
        right: -280px;
    }
    100% {
        right: 0;
    }
}

@keyframes backSlide {
    0% {
        right: 0;
    }
    100% {
        right: -280px;
    }
}
