.mainWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

.header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    background-color: var(--cBgSecondary);
    position: relative;
    z-index: 2;
    width: 100%;
    -webkit-box-shadow: 0px 4px 5px -6px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 0px 4px 5px -6px rgba(34, 60, 80, 0.6);
    box-shadow: 0px 4px 5px -6px rgba(34, 60, 80, 0.6);
}

.leftMenu {
    display: flex;
    align-items: center;
    margin-left: 24px;
}

.authoridedIcons {
    display: flex;
    align-items: center;
}

.notificationsIconHeader {
    color: var(--cTextPrimary);
    margin-right: 10px;
}

.rightMenu {
    display: flex;
    align-items: center;
    margin-right: 24px;
}

.leftMenuLinks {
    display: flex;
    align-items: center;
}

.link {
    font-size: 19px;
    line-height: 20px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    transition-duration: 0.3s;
}

.link:hover {
    background: rgba(225, 225, 225, 0.753);
    transition-duration: 0.3s;
}

.link:first-child {
    margin-left: 24px;
}

.button {
    border-radius: 20px;
    margin: 0 10px;
    padding: 6px 16px;
    font-weight: 600;
}

.button :global .MuiLink-root {
    text-decoration: none;
}

.userPanel {
    display: flex;
    align-items: center;
}

.userAvatar {
    margin-left: 10px;
    cursor: pointer;
}

.growMenu {
    margin-top: 21px;
    background: var(--cBgSecondary);
    border-radius: 4px;
}

.emailItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* padding-top: 5px; */
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(191, 179, 179);
}

.emailItem > span {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
}

.emailItem > div {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    letter-spacing: 0.17px;
    color: rgba(0, 0, 0, 0.6);
}

.logoutItem {
    padding-top: 12px;
    border-top: 1px solid rgb(191, 179, 179);
}

.carrierLayoutContent {
    background-color: var(--cBgSecondary);
    min-height: calc(100vh - 80px) !important;
    display: flex;
}

.blurWrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 1;
}

.blurWrapperOn {
    backdrop-filter: blur(1px);
}

.mobileMenu {
    position: fixed;
    height: 100vh;
    width: 50%;
    top: 0;
    right: 0;
    background-color: var(--cBgSecondary);
}

.openMobileMenu {
    animation-name: slide;
    animation-duration: 0.3s;
}

.closeMobileMenu {
    animation-name: backSlide;
    animation-duration: 0.3s;
}

.mobileMenuPaper :global .MuiList-root {
    padding: 0;
}

.userAvatarMobile {
    margin-right: 7px;
}

.mobileMenuIcon {
    color: var(--cTextPrimary);
}

.userItem {
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(191, 179, 179);
    padding: 21px 0;
    max-height: 81px;
    padding-left: 10px;
}

.userItem > div > span {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    max-width: 135px;
    letter-spacing: 0.15px;
    color: rgba(0, 0, 0, 0.87);
}

.userItem > div > div {
    font-weight: 400;
    font-size: 10px;
    line-height: 143%;
    letter-spacing: 0.17px;
    color: rgba(0, 0, 0, 0.6);
}

.profileItemMobile {
    padding-left: 10px;
    font-size: 14px;
}

.bullingItem {
    margin-bottom: 20px;
    padding-left: 10px;
    font-size: 14px;
}

.settingsItem {
    padding-left: 10px;
    font-size: 14px;
}

.dashboardItem {
    padding-left: 10px;
    font-size: 14px;
}

.orderSearchItem {
    padding-left: 10px;
    font-size: 14px;
}

.exitItem {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    border-top: 1px solid rgb(191, 179, 179);
}

.mobileMenuPaper {
    height: 100vh;
    padding: 0;
}

.profileItemMobile > span {
    margin-left: 5px;
}

.settingsItem > span {
    margin-left: 5px;
}

.bullingItem > span {
    margin-left: 5px;
}

.dashboardItem > span {
    margin-left: 5px;
    white-space: nowrap;
}

.orderSearchItem > span {
    margin-left: 5px;
}

.mobileMenuWrapper {
    display: none;
}

.notificationsMobileTitle {
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.225);
    text-align: center;
    font-size: 15px;
    color: var(-cTextThird);
}

.notificationsMobileBlock {
    max-height: 300px;
    overflow-x: hidden;
}

.notificationsMobileBlock::-webkit-scrollbar {
    display: none;
}

.notificationsMobileBlock {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.notificationsMarkAllButton {
    margin-top: 10px;
    justify-content: flex-end;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: var(--cTextThird);
    transition-duration: 300ms;
}

.notificationsMarkAllButton > span {
    margin-left: 5px;
}

.notificationsMarkAllButton:hover {
    color: var(--cTextPrimary);
}

.emplyNotifications {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
}

@media screen and (max-width: 470px) {
    .link {
        font-size: 15px;
    }
    .link:first-child {
        margin-left: 0px;
    }
}

@media screen and (max-width: 620px) {
    .leftMenuLinks {
        display: none;
    }
    .rightMenu {
        display: none;
    }

    .blurWrapper {
        display: block;
    }

    .mobileMenuWrapper {
        display: flex;
        align-items: center;
        z-index: 2;
        font-size: 10px;
        margin-right: 24px;
    }
}

@keyframes slide {
    0% {
        right: -220px;
    }
    100% {
        right: 0;
    }
}

@keyframes backSlide {
    0% {
        right: 0;
    }
    100% {
        right: -260px;
    }
}
