.content {
    width: 100%;
    height: 700px;

    /* background-image: url('/static/images/mainPageBackground.png');
  background-size: cover;
  background-repeat: no-repeat; */

    background: url(/static/images/mainPage/background.jpg) no-repeat center
        center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.name {
    font-weight: 600;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-bottom: 70px;
}

.description {
    font-size: 46px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.4px;
    margin-bottom: 98px;
}

.button {
    margin-left: 40px;
    padding: 0 22px;
    height: 48px;
}

.emailInput > label {
    line-height: 20px;
    color: #ffffff;
}

.emailInput > div {
    height: 48px;
    box-sizing: border-box;
}

.emailInput > div:hover > fieldset {
    border-color: #fafafa !important;
}

.emailInput > div > input {
    color: #ffffff;
}

.emailInput > div > fieldset {
    border-color: #ffffff;
}

.whiteBlockTitle {
    text-align: center;
    margin-top: 150px;
    font-weight: 600;
    font-size: 60px;
    line-height: 50px;
    letter-spacing: 0.4px;
    color: #6690FD;
}
 
.whiteBlockInfo {
    margin-top: 80px;
    display: flex;
   column-gap: 30px;
   /* column-gap: 20px; */
}
 
.whiteBlockInfo > div {
    display: flex;
    flex-direction: column;
}

.whiteBlockInfo > div > span {
    font-weight: 300;
    /* font-weight: 500; */
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0.4px;
    color: #6690FD;
  
}
 
.whiteBlockInfo > div > div {
    margin-top: 22px;
    /* font-weight: 300; */
    font-weight: 400;
    font-size: 32px;
    line-height: 50px;
    /* letter-spacing: 0.4px; */
    color: #000000;
}
 
.whiteBlockInfo > div > Button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.46px;
    width: fit-content;
    margin: 0 auto;
    color: #ffffff;
    margin-top: 53px;
    padding: 11px 22px;
    background-color: #6690FD;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
}

.blueBlock {
    background-color: #6690FD;
    margin-top: 120px;
    color: #ffffff;
}

.blueBlock_title {
    margin-top: 20px;
    font-weight: 600;
    font-size: 60px;
    /* line-height: 50px; */
    letter-spacing: 0.4px;
    text-align: center;
}

.blueBlock_content {
    display: flex;
    margin-top: 80px;
    padding-bottom: 20px;
}

.content_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.content_firstText {
    text-align: center;
    margin-top: 30px;
}

.content_firstText > span {
    font-weight: 400;
    /* font-weight: 500; */
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0.4px;
}

.content_firstText > div {
    margin-top: 30px;
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
    letter-spacing: 0.4px;
    color: #000000;
}

.content_secondText {
    text-align: center;
    margin-bottom: 80px;
}

.content_secondText > span {
    font-weight: 400;
    /* font-weight: 500; */
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0.4px;
}

.content_secondText > div {
    margin-top: 30px;
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
}

