.order {
    max-width: 100%;
    box-shadow: 0px 0px 15px 1px var(--cBoxShadowSecondary);
    border-radius: 23px;
    background-color: var(--cStatusInProgress);
}

.orderSuccess {
    background-color: var(--cStatusSuccess);
}

.orderCancelled {
    background-color: var(--cStatusCancelled);
}

.orderData {
    display: flex;
    align-items: center;
    border-radius: 0 20px 20px 0;
    background-color: var(--cBgSecondary);
    margin-left: 15px;
}

.orderInfo {
    flex: 1;
    border-right: 1px solid var(--cBorderLow);
    color: var(--cTextPrimary);
}

.orderTitle {
    display: flex;
    align-items: center;
}

.orderDescriptions {
    border-top: 1px solid var(--cBorderLow);
    display: flex;
    padding: 12px;
    flex-wrap: wrap;
    gap: 5px;
    white-space: nowrap;
}

.detailsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.description {
    color: var(--cTextThird);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 240px;
    margin-right: 9px;
    width: fit-content;
}

.description:last-child {
    margin-right: 0;
}

.description > span {
    white-space: nowrap;
    font-weight: 500;
    color: var(--cTextPrimary);
}

.orderDetails {
    max-width: 250px;
    width: 100%;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.detailsButton {
    white-space: pre-line;
    padding: 6px 30px;
    border-radius: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.detailsButtonLink {
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    white-space: nowrap;
    letter-spacing: 0.46px;
    color: var(--cTextSecondary);
    text-decoration: none;
}

.detailsButtonLink:hover {
    text-decoration: none;
}

.status {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.4px;
    /* text-transform: uppercase; */
}

.boldSpan {
    font-weight: 800;
}

.userBlock {
    max-width: 500px;
    width: 100%;
    padding: 12px 12px;
    border-right: 1px solid var(--cBorderLow);
    text-align: left;
    height: 120px;
}

.userBlockHover {
    transition: background-color 0.2s linear;
}

.userBlockHover:hover {
    background-color: var(--cBoxShadowLow);
    cursor: pointer;
}

.moneyBlock {
    min-width: 135px;
    padding: 12px 12px;
    flex: 1;
    height: 120px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.blockTitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-align: left;
    text-transform: uppercase;
}

.carrierCard {
    display: flex;
    align-items: center;
}

.receiverCard {
    display: flex;
    align-items: center;
}

.name {
    color: var(--cTextThird);
    font-weight: 600;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 5px;
    white-space: nowrap;
    cursor: pointer;
    width: fit-content;
}

.rating {
    color: var(--cTextLow);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin-bottom: 2px;
    white-space: nowrap;
}

.rating > span {
    color: var(--cTextPrimary);
}

.completedOrders {
    color: var(--cTextLow);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    white-space: nowrap;
}

.completedOrders > span {
    color: var(--cTextSuccess);
}

.descriptionParams {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.moneyTitle {
    color: var(--cTextLow);
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.moneyValue {
    color: var(--cTextThird);
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.4px;
}

.info {
    margin-left: 15px;
}

.benefitBlock {
    margin-bottom: 10px;
}

.moneyBlockNew {
    display: none;
}

@media screen and (max-width: 1100px) {
    .blockTitle {
        font-size: 12px;
    }
    .name {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 3px;
    }
    .rating {
        font-size: 11px;
        line-height: 13px;
    }
    .completedOrders {
        font-size: 11px;
        line-height: 13px;
    }
    .roundIcon {
        width: 50px !important;
        height: 50px !important;
    }
    .roundIconQuestion {
        width: 60px;
        height: 60px;
    }
    .userBlock {
        padding-left: 8px;
    }
    .moneyBlock {
        padding-left: 8px;
    }
    .moneyTitle {
        font-size: 12px;
    }
    .moneyValue {
        font-size: 13px;
    }
    .orderDetails {
        width: 250px;
    }
    .status {
        font-size: 13px;
    }
    .description {
        font-size: 12px;
        line-height: 15px;
        margin-right: 6px;
    }
    .carrierCard {
        margin-top: 12px;
    }
    .orderDescriptions {
        padding: 8px;
    }
}

@media screen and (max-width: 900px) {
    .orderDetails {
        width: 150px;
    }
    .detailsButtonLink {
        white-space: normal;
    }
}

@media screen and (max-width: 830px) {
    .orderDetails {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .moneyBlock {
        display: none;
    }
    .orderInfo {
        border: none;
    }
    .orderDescriptions {
        border-right: 1px solid var(--cBorderLow);
    }
    .detailsButton {
        max-width: 100px;
    }
    .detailsBlock {
        height: fit-content;
        width: 100%;
    }
    .moneyBlockNew {
        display: flex;
        height: 34px;
        flex-direction: column;
        margin-top: 10px;
        font-size: 11px;
        gap: 4px;
        justify-content: flex-start;
    }
    .benefitBlock {
        display: flex;
    }
    .priceBlock {
        display: flex;
    }
    .moneyTitle {
        line-height: 12px;
        text-align: left;
    }
    .moneyValue {
        padding-left: 5px;
        font-size: 12px;
        line-height: 12px;
    }
    .status {
        font-size: 11px;
        text-align: center;
    }
    .rating {
        font-size: 10px;
        line-height: 11px;
    }
    .completedOrders {
        font-size: 10px;
        line-height: 11px;
    }
}

@media screen and (max-width: 770px) {
    .userBlock {
        padding: 8px;
        height: 100px;
    }
    .moneyBlock {
        padding: 2px;
        height: 100px;
    }
    .carrierCard {
        margin-top: 0px;
    }
    .roundIconQuestion {
        margin-top: -5px;
    }
    .blockTitle {
        font-size: 10px;
    }
    .moneyTitle {
        font-size: 12px;
    }
    .moneyValue {
        font-size: 12px;
    }
    .orderDescriptions {
        gap: 6px;
    }
}

@media screen and (max-width: 700px) {
    .name {
        font-size: 13px;
    }
}

@media screen and (max-width: 640px) {
    .orderInfo {
        width: 100%;
    }
    .moneyBlockNew {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0px 6px;
        border-bottom: 1px solid var(--cBorderLow);
        margin-top: 0;
    }
    .detailsBlock {
        border-bottom: none;
        align-items: center;
    }
    .userBlock {
        width: 50%;
    }
    .description {
        max-width: 150px;
    }
    .benefitBlock {
        margin-bottom: 0;
    }
    .orderData {
        flex-direction: column;
    }
    .orderDescriptions {
        border-right: none;
        border-bottom: 1px solid var(--cBorderLow);
    }
    .orderDetails {
        flex-direction: column-reverse;
        width: 100%;
        max-width: 700px;
        justify-content: space-between;
        align-items: center;
    }
    .detailsButton {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .status {
        padding-right: 5px;
        padding-bottom: 5px;
    }
    .userBlock {
        border: none;
    }
    .userBlock:first-child {
        border-right: 1px solid var(--cBorderLow);
    }
}

@media screen and (max-width: 500px) {
    .orderInfo {
        width: 100%;
    }
    .orderTitle {
        flex-direction: column;
    }
    .userBlock:first-child {
        border: none;
    }
    .userBlock:first-child {
        border-bottom: 1px solid var(--cBorderLow);
    }
    .userBlock {
        width: 100%;
        max-width: 500px;
    }
    .description {
        font-size: 12px;
        line-height: 12px;
    }
    .moneyTitle {
        font-size: 12px;
        line-height: 12px;
    }
    .moneyValue {
        font-size: 12px;
        line-height: 12px;
    }
    .status {
        font-size: 10px;
    }
}

@media screen and (max-width: 470px) {
    .userBlock {
        width: 100%;
        max-width: 450px;
    }
}

@media screen and (max-width: 435px) {
    .userBlock {
        width: 100%;
        max-width: 420px;
    }
}

@media screen and (max-width: 400px) {
    .userBlock {
        width: 100%;
        max-width: 380px;
    }
}

@media screen and (max-width: 370px) {
    .userBlock {
        width: 100%;
        max-width: 350px;
    }
}
