.order {
    width: 100%;
    box-shadow: 0px 0px 15px 1px rgba(102, 144, 253, 0.25);
    border-radius: 20px;
    background-color: var(--cStatusInProgress);
}

.orderSuccess {
    background-color: var(--cStatusSuccess);
}

.orderCancelled {
    background-color: var(--cStatusCancelled);
}

.orderData {
    display: flex;
    align-items: center;
    border-radius: 0 20px 20px 0;
    background-color: var(--cBgSecondary);
    margin-left: 15px;
}

.orderInfo {
    flex: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    color: var(--cTextPrimary);
}

.orderTitle {
    display: flex;
    align-items: center;
    padding: 16px 20px;
}

.orderIcon {
    font-size: 25px;
    color: var(--cTextThird);
}

.orderItem {
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.4px;
    margin-left: 15px;
}

.orderDescriptions {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    gap: 13px;
    padding: 12px 20px;
    white-space: nowrap;
}

.description {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    text-transform: uppercase;
}

.description > span {
    color: var(--cTextThird);
}

.orderDetails {
    padding: 0 50px;
}

.detailsButton {
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.46px;
    padding: 10px 40px;
}
