.wrapper {
    padding: 24px;
    width: 100%;
}

.typeSwitcherWrapper {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
}

.typeSwitcher {
    display: flex;
    width: 330px;
    padding: 0 5px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    background-color: var(--cBgThird);
    border: 1px solid #e9e9e9;
    border-radius: 16px;
}

.typeSwitcher > span {
    height: 40px;
    width: 160px;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.46px;
    user-select: none;
}

.typeSwitcher > span:not(.selected) {
    cursor: pointer;
}

.typeSwitcher > span.selected {
    pointer-events: none;
}

.typeSwitcher > span.on.selected {
    background-color: var(--cBg);
    border-radius: 10px;
    color: var(--cTextSecondary);
}

.typeSwitcher > span.off.selected {
    background-color: var(--cStatusSuccess);
    border-radius: 10px;
    color: var(--cTextSecondary);
}

.typeTitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.46px;
}

.content {
    height: 100%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.hidingButton {
    display: none;
}

.loaderWrapper {
    display: flex;
    flex: 1;
}

.filtersWrapper {
    display: flex;
    align-items: flex-end;
}

.filtersWrapper form {
    display: flex;
    flex: 1;
    gap: 16px;
}

.WeightBenefitBlock {
    display: flex;
    gap: 5px;
}

.inputItem {
    display: flex;
    flex-direction: column;
    width: 240px;
    margin-right: 10px;
}

.inputItem input {
    height: 40px !important;
    box-sizing: border-box !important;
}

.inputItem.longInput {
    width: 240px;
}

.inputItem .input :global .MuiInputBase-root {
    border-radius: 15px;
    height: 40px;
}

.inputItem > label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.4px;
    color: var(--cTextPrimary);
}

.refreshButton {
    border-radius: 15px;
    height: 40px;
    width: 140px;
}

.refreshButton > svg {
    margin-right: 8px;
}

.tableWrapper {
    margin-top: 36px;
    width: 100%;
}

.tableHeader {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 12px 0;
}

.tableHeaderItem {
    flex: 2;
    color: var(--cTextLow);
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.46px;
}

.tableHeaderItem.long {
    flex: 3;
}

.itemWrapper {
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.itemWrapper .part {
    flex: 2;
    padding: 36px 0;
    display: flex;
    align-items: center;
}

.itemWrapper {
    display: flex;
    align-items: center;
    flex: 3;
}

.part.user {
    display: flex;
    align-items: center;
    flex: 3;
}

.itemWrapper .part.user .userInfo {
    margin-left: 16px;
}

.itemWrapper .part.user .userName {
    font-weight: 500;
    font-size: 18px;
    white-space: nowrap;
    line-height: 20px;
    margin-bottom: 5px;
    cursor: pointer;
    width: fit-content;
}

.itemWrapper .part.user .infoItem {
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin-bottom: 5px;
    color: var(--cTextLow);
    white-space: nowrap;
}

.itemWrapper .part.user .infoItemRating span {
    color: var(--cTextPrimary);
}

.itemWrapper .part.user .infoItemCompleted span {
    color: var(--cStatusSuccess);
}

.fromTo {
    flex: 3 !important;
}

.doubleditem > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.doubleditem {
    font-size: 18px;
    line-height: 18px;
}

.fromToItem {
    display: flex;
}

.benefitPriceItem {
    font-size: 15px;
    display: flex;
    gap: 5px;
}

.benefitPriceValue {
    white-space: nowrap;
}

.doubleditem .prefix {
    color: var(--cTextLow);
    max-width: 70px;
    width: 100%;
    display: inline-block;
    margin-right: 26px;
}

.toAndFromLocationValue {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: 140px;
}

.applyBtn {
    width: 110px;
    height: 40px;
    border-radius: 16px;
}

.pagination {
    margin: 30px 0;
    margin-left: auto;
    width: fit-content;
}

.formR {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}



@media screen and (max-width: 1240px) {
    .doubleditem {
        font-size: 15px;
    }
    .itemWrapper .part.user .userName {
        font-size: 16px;
    }
    .part {
        font-size: 15px;
    }
    .doubleditem .prefix {
        margin-right: 0px;
    }
    .itemWrapper .part.user .infoItem {
        font-size: 12px;
    }
}

@media screen and (max-width: 1202px) {
    .WeightBenefitBlock {
        margin-top: 10px;
    }
}

@media screen and (max-width: 1135px) {
    .avatar {
        display: none;
    }
    .itemWrapper .part.user .userInfo {
        margin-left: 0px;
    }
}

@media screen and (max-width: 960px) {
    .WeightBenefitBlock {
        flex-wrap: wrap;
        margin-top: 0;
    }
}

@media screen and (max-width: 940px) {
    .typeTitle {
        font-size: 30px;
    }

    .typeSwitcher > span {
        height: 30px;
        width: 130px;
        font-size: 20px;
        line-height: 30px;
    }
    .typeSwitcher {
        width: 270px;
        height: 40px;
        border-radius: 10px;
    }
    .tableHeaderItemNone {
        display: none;
    }
    .part.button {
        display: none;
    }
    .tableHeaderItem.short {
        flex: 1;
    }
    .part.user {
        flex: 3;
    }
    .part.fromTo {
        flex: 3;
    }
    .part.productName {
        flex: 2;
    }
    .part.maxWeight {
        flex: 1;
    }
    .part.doubleditem {
        flex: 2;
    }
    .hidingButton {
        display: flex;
        justify-content: flex-end;
        margin-top: -20px;
        padding-bottom: 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    .itemWrapper {
        border-bottom: none;
    }
}

@media screen and (max-width: 780px) {
    .typeTitle {
        font-size: 25px;
    }
    .typeSwitcher > span {
        width: 110px;
    }
    .typeSwitcher {
        width: 230px;
    }
    .doubleditem .prefix {
        font-size: 12px;
    }
    .benefitPriceValue {
        font-size: 12px;
    }
    .itemWrapper .part.user .userName {
        font-size: 12px;
        line-height: 12px;
        font-weight: 600;
        margin-bottom: 4px;
    }
    .itemWrapper .part.user .infoItem {
        font-size: 10px;
        line-height: 10px;
        margin-bottom: 3px;
    }
    .part.maxWeight {
        font-weight: 600;
    }
    .benefitPriceValue {
        font-weight: 600;
    }
    .part.productName {
        font-weight: 600;
    }
    .toAndFromLocationValue {
        font-weight: 600;
    }
    .part {
        font-weight: 600;
    }
}

@media screen and (max-width: 710px) {
    .filtersWrapper {
        flex-direction: column;
        align-items: flex-end;
    }
    .refreshButton {
        margin-top: 20px;
    }
    .inputItem > label {
        font-size: 10px;
        line-height: 15px;
    }
    .part {
        font-size: 12px;
        line-height: 14px;
    }
    .doubleditem .prefix {
        width: 53px;
    }
    .tableHeaderItem {
        font-size: 14px;
    }
    .toAndFromLocationValue {
        max-width: 90px;
    }
}

@media screen and (max-width: 570px) {
    .tableHeaderItem {
        font-size: 12px;
    }
    .WeightBenefitBlock {
        flex-wrap: nowrap;
        width: 100%;
    }
    .refreshButton {
        width: 115px;
        font-size: 10px;
        height: 30px;
        margin-right: 10px;
        border-radius: 10px;
    }
    .wrapper {
        padding: 10px;
    }
    .content {
        margin-top: 10px;
    }
    .inputItem.longInput {
        width: 100%;
    }
    .inputItem {
        width: 100%;
    }
    .typeTitle {
        margin: 0 auto;
    }
    .part {
        font-size: 10px;
    }
    .part.user {
        margin-left: 0;
    }
    .itemWrapper .part.user .userName {
        font-size: 10px;
    }
    .itemWrapper .part.user .infoItemRating {
        font-size: 8px;
    }
    .itemWrapper .part.user .infoItemCompleted {
        font-size: 8px;
    }
    .tableHeaderItem {
        font-size: 12px;
    }
    .applyBtn {
        width: 60px;
        font-size: 10px;
        height: 30px;
        border-radius: 10px;
    }
    .toAndFromLocationValue {
        max-width: 75px;
    }
    .doubleditem .prefix {
        font-size: 10px;
    }
    .benefitPriceValue {
        font-size: 10px;
    }
}

@media screen and (max-width: 525px) {
    .formFirstR {
        flex-direction: column;
        gap: 10px;
    }
    .formSecondR {
        flex-direction: column;
        margin-top: 10px;
    }
    .typeTitle {
        font-size: 20px;
        line-height: 30px;
    }
    .typeSwitcher > span {
        font-size: 15px;
        height: 25px;
        line-height: 25px;
        width: 85px;
        border-radius: 8px !important;
    }
    .typeSwitcher {
        height: 35px;
        width: 185px;
        padding: 0 3px;
    }
    .tableHeaderItem {
        font-size: 10px;
    }
    .part {
        font-size: 8px;
        line-height: 10px;
        font-weight: 600;
    }
    .doubleditem .prefix {
        width: 35px;
        font-size: 8px;
    }
    .inputItem .input :global .MuiInputBase-root {
        border-radius: 10px;
        height: 30px;
        font-size: 12px;
    }
    .benefitPriceValue {
        font-size: 8px;
    }
    .itemWrapper .part.user .userName {
        font-size: 8px;
        margin-bottom: 2px;
    }
    .itemWrapper .part.user .infoItem {
        font-size: 6px;
        line-height: 7px;
    }
    .toAndFromLocationValue {
        max-width: 60px;
    }
    .tableHeaderItem {
        font-size: 9px;
    }
    .wrapper {
        padding: 10px;
    }

    .formSecondC {
        margin-top: 15px;
    }
    .typeSwitcherWrapper {
        gap: 15px;
    }
}

@media screen and (max-width: 420px) {
    .doubleditem .prefix {
        width: 32px;
    }
    .filtersWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .refreshButton {
        width: 130px;
        font-size: 10px;
        margin-right: 10px;
    }
    .hidingButton {
        padding-bottom: 10px;
    }
    .applyBtn {
        height: 25px;
    }
}
