.order {
    max-width: 100%;
    box-shadow: 0px 0px 15px 1px rgba(102, 144, 253, 0.25);
    border-radius: 20px;
    background-color: var(--cStatusInProgress);
}

.orderSuccess {
    background-color: var(--cStatusSuccess);
}

.orderCancelled {
    background-color: var(--cStatusCancelled);
}

.orderData {
    display: flex;
    align-items: center;
    border-radius: 0 20px 20px 0;
    background-color: var(--cBgSecondary);
    margin-left: 15px;
}

.orderInfo {
    flex: 1;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    color: var(--cTextPrimary);
}

.orderTitle {
    display: flex;
    align-items: center;
}

.orderDescriptions {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    display: flex;
    gap: 5px;
    padding: 12px 20px;
    flex-wrap: wrap;
    white-space: nowrap;
}

.description {
    color: var(--cTextThird);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    /* text-transform: uppercase; */
}

.description > span {
    font-weight: 500;
    color: var(--cTextPrimary);
}

.orderDetails {
    max-width: 250px;
    width: 100%;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.detailsButton {
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.46px;
    padding: 6px 30px;
    border-radius: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.status {
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    letter-spacing: 0.4px;
    /* text-transform: uppercase; */
}

.boldSpan {
    font-weight: 800;
}

.userBlock {
    max-width: 500px;
    width: 100%;
    padding: 12px 12px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    text-align: left;
    height: 120px;
}

.moneyBlock {
    padding: 12px 12px;
    flex: 1;
    height: 120px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.blockTitle {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-align: left;
    text-transform: uppercase;
}

.carrierCard {
    display: flex;
    align-items: center;
}

.receiverCard {
    display: flex;
    align-items: center;
}

.name {
    color: var(--cTextThird);
    font-weight: 600;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-bottom: 5px;
    white-space: nowrap;
}

.rating {
    color: var(--cTextLow);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    margin-bottom: 2px;
    white-space: nowrap;
}

.rating > span {
    color: var(--cTextPrimary);
}

.completedOrders {
    color: var(--cTextLow);
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.4px;
    white-space: nowrap;
}

.completedOrders > span {
    color: var(--cTextSuccess);
}

.descriptionParams {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.descriptionWay {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    max-width: 100%;
    width: 100%;
}

/* .productName {
    font-size: 16px;
} */

.moneyTitle {
    color: var(--cTextLow);
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    margin-bottom: 3px;
}

.moneyValue {
    color: var(--cTextThird);
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.4px;
}

.info {
    margin-left: 15px;
}

.benefitBlock {
    margin-bottom: 10px;
}

.moneyBlockNew {
    display: none;
}

@media screen and (max-width: 1100px) {
    .blockTitle {
        font-size: 12px;
    }
    .name {
        font-size: 15px;
        line-height: 18px;
        margin-bottom: 3px;
    }
    .rating {
        font-size: 11px;
        line-height: 13px;
    }
    .completedOrders {
        font-size: 11px;
        line-height: 13px;
    }
    .roundIcon {
        width: 50px !important;
        height: 50px !important;
    }
    .roundIconQuestion {
        width: 60px;
        height: 60px;
    }
    .userBlock {
        padding-left: 8px;
    }
    .moneyBlock {
        padding-left: 8px;
    }
    .moneyTitle {
        font-size: 12px;
    }
    .moneyValue {
        font-size: 13px;
    }
    .orderDetails {
        width: 250px;
    }
    .status {
        font-size: 13px;
    }
    .description {
        font-size: 12px;
        line-height: 15px;
    }
    .carrierCard {
        margin-top: 12px;
    }
}

@media screen and (max-width: 900px) {
    .orderDetails {
        width: 150px;
    }
    .status {
        font-size: 12px;
    }
    .detailsButton {
        font-size: 12px;
        line-height: 20px;
    }
}

@media screen and (max-width: 770px) {
    .userBlock {
        padding: 8px;
        height: 100px;
    }
    .moneyBlock {
        padding: 2px;
        height: 100px;
    }
    .carrierCard {
        margin-top: 0px;
    }
    .roundIconQuestion {
        margin-top: -5px;
    }
    .blockTitle {
        font-size: 10px;
    }
    .moneyTitle {
        font-size: 10px;
    }
    .moneyValue {
        font-size: 12px;
    }
    .description {
        font-size: 10px;
        line-height: 12px;
    }
    .orderDescriptions {
        gap: 6px;
    }
}

@media screen and (max-width: 700px) {
    .detailsButton {
        margin-bottom: 5px;
    }
    .moneyBlock {
        display: none;
    }
    .orderInfo {
        border: none;
    }
    .orderDescriptions {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
    }
    .moneyBlockNew {
        display: flex;
        flex-direction: column;
        padding-top: 3px;
    }
    .benefitBlock {
        display: flex;
        height: 10px;
    }
    .priceBlock {
        display: flex;
    }
    .moneyTitle {
        font-size: 11px;
        line-height: 13px;
        width: 50px;
    }
    .moneyValue {
        font-size: 11px;
        line-height: 13px;
        margin-left: 4px;
    }
    .status {
        font-size: 11px;
    }
    .detailsButton {
        margin-top: 5px;
        font-size: 10px;
        line-height: 15px;
    }
    .name {
        font-size: 13px;
    }
    .rating {
        font-size: 10px;
        line-height: 11px;
    }
    .completedOrders {
        font-size: 10px;
        line-height: 11px;
    }
}

@media screen and (max-width: 600px) {
    .userBlock {
        width: 230px;
    }
    .orderData {
        flex-direction: column;
    }
    .orderDescriptions {
        border-right: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    .orderDetails {
        flex-direction: row;
        width: 100%;
        max-width: 700px;
        justify-content: space-between;
    }
    .detailsButton {
        margin-top: 10px;
    }
    .status {
        padding-right: 5px;
        padding-bottom: 5px;
    }
    .userBlock {
        border: none;
    }
    .userBlock:first-child {
        border-right: 1px solid rgba(0, 0, 0, 0.12);
    }
}

@media screen and (max-width: 500px) {
    .orderTitle {
        flex-direction: column;
    }
    .userBlock:first-child {
        border: none;
    }
    .userBlock:first-child {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    .userBlock {
        width: 100%;
        max-width: 450px;
    }
    .description {
        font-size: 8px;
        line-height: 10px;
    }
    .moneyTitle {
        font-size: 10px;
        line-height: 11px;
    }
    .moneyValue {
        font-size: 10px;
        line-height: 11px;
    }
    .status {
        font-size: 10px;
    }
}

@media screen and (max-width: 470px) {
    .userBlock {
        width: 100%;
        max-width: 410px;
    }
}

@media screen and (max-width: 435px) {
    .userBlock {
        width: 100%;
        max-width: 380px;
    }
}

@media screen and (max-width: 400px) {
    .userBlock {
        width: 100%;
        max-width: 350px;
    }
}

@media screen and (max-width: 370px) {
    .userBlock {
        width: 100%;
        max-width: 320px;
    }
}
