.wrapper {
    min-height: calc(100vh - 80px);
    background-color: var(--cBgSecondary);
}

.orderConent {
    display: flex;
}

.personInfo {
    margin: 20px 0;
}

.personRole {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.4px;
    color: var(--cTextLow);
}

.personName {
    font-size: 18px;
    line-height: 40px;
    font-weight: 500;
    margin-right: 12px;
    max-width: calc(250px - 24px - 8px);
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.orderDetails {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--cBgThird);
}

.orderDetailsMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orderDetailsTitle {
    font-size: 32px;
    line-height: 32px;
    white-space: nowrap;
    font-weight: 600;
    margin-bottom: 16px;
}

.orderStatus {
    color: var(--cTextLow);
    font-size: 18px;
    border-radius: 15px;
    color: var(--cTextSecondary);
    font-weight: 600;
    padding: 2px 12px;
    margin-right: 15px;
    width: fit-content;
}

.statusSuccess {
    background-color: var(--cBgSuccess);
}

.statusInProcess {
    background-color: var(--cBg);
}

.statusCancelled {
    background-color: var(--cBgCancelled);
}

.orderDetailsInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
    font-size: 18px;
    line-height: 26px;
}

.infoLeft {
    white-space: nowrap;
    display: flex;
    gap: 23px;
    flex-direction: column;
    color: var(--cTextLow);
    text-align: right;
}

.infoRight {
    display: flex;
    flex-direction: column;
    gap: 23px;
    color: var(--cTextThird);
    font-weight: 600;
    text-align: right;
}

.infoRight span {
    font-size: 18px;
    line-height: 26px;
}

.infoRight svg {
    cursor: pointer;
}

.infoRight path {
    color: var(--cTextLow);
}

.infoRightId {
    display: flex;
    align-items: center;
    gap: 8px;
}

.createdDate {
    display: flex;
    justify-content: flex-end;
    margin-right: 28px;
    gap: 20px;
}

.infoRightId > div {
    height: 22px;
}

/* ------ Order information -------- */

.byOther {
    width: 100%;
    padding: 4px 32px;
    font-size: 16px;
    color: var(--cTextSecondary);
    background-color: var(--cBgSuccess);
}

.byYou {
    width: 100%;
    padding: 4px 32px;
    font-size: 16px;
    color: var(--cTextSecondary);
    background-color: #df821e;
}

.confirmationString {
    width: 100%;
    padding: 4px 32px;
    font-size: 16px;
    color: var(--cTextSecondary);
    background-color: var(--cBg);
}

.productName {
    margin-bottom: 32px;
    width: fit-content;
}

.orderInformation {
    flex: 1;
    padding: 32px 0;
    margin: 0 32px;
}

.orderInformationTitle {
    display: flex;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 48px;
}

.orderInputValueWrapper {
    display: flex;
    align-items: center;
}

.orderInputValueWrapper svg {
    cursor: pointer;
}

.orderInputValueWrapper svg > path {
    color: var(--cTextLow);
}

.orderInputValueWrapper svg:hover > path {
    color: var(--cTextThird);
}

.productUri {
    cursor: pointer;
    text-decoration: none;
    color: var(--cTextPrimary);
}

.productUri:hover {
    text-decoration: underline;
}

.orderInputValue {
    font-size: 18px;
    line-height: 40px;
    font-weight: 500;
    margin-right: 12px;
    max-width: calc(250px - 24px - 8px);
    /* width: 100%; */
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.comission {
    font-size: 14px;
    color: var(--cTextLow);
}

.orderInputValue.green {
    color: var(--cTextSuccess);
}

.orderInputValue.orange {
    color: #df821e;
}

.editingWrapper {
    display: flex;
    align-items: center;
}

.editingWrapper svg {
    cursor: pointer;
}

.editingWrapper svg > path {
    color: var(--cTextLow);
}

.editingWrapper svg:hover > path {
    color: var(--cTextThird);
}

.inputItem {
    max-width: 250px;
    width: 100%;
}

#menu-bank {
    max-height: 400px;
}

.inputTitle {
    color: var(--cTextSecondary);
}

.bankElement {
    display: flex;
    gap: 10px;
    align-items: center;
}

.bankElement > img {
    width: 25px;
}

.inputItem .input .selectBank {
    width: 100%;
    margin-right: 10px;
    height: 40px;
    margin-top: 1px;
    background-color: var(--cBgSecondary);
    border-radius: 16px;
}

.inputPhone {
    width: 100%;
    margin-top: 1px;
    margin-right: 10px;
    height: 40px;
    background-color: var(--cBgSecondary);
    border-radius: 16px;
}

.inputItem .input :global .MuiInputBase-root {
    border-radius: 16px;
    height: 40px;
    width: 100%;
}

.inputItem .input :global .MuiInputBase-root > div > img {
    display: none;
}

.inputItem > label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.4px;
    /* color: var(--cTextLow); */
}

.userPhoneBlock {
    display: flex;
    align-items: center;
}

.confirmPhoneButton {
    font-size: 14px;
    color: var(--cTextSecondary);
    width: fit-content;
    border-radius: 16px;
    white-space: nowrap;
}

.valuesByColumns {
    display: flex;
    gap: 64px;
    margin-bottom: 24px;
}

.inputPhoneBlock {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    padding-right: 20px;
    margin-bottom: 16px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 250px;
    width: 100%;
}

.multilineItem {
    max-width: 516px;
}

.multiline {
    width: 100%;
    margin-right: 16px;
}

.multiline.green textarea {
    -webkit-text-fill-color: var(--cTextSuccess) !important;
}

.multiline.orange textarea {
    -webkit-text-fill-color: #df821e !important;
}

.multiline :global .MuiInputBase-root {
    border-radius: 15px;
    width: 100%;
}

.loaderWrapper {
    display: flex;
    height: 400px;
    align-items: center;
}

.haveSomeProblems {
    color: var(--cTextPrimary);
    padding: 32px 0;
    margin-left: 32px;
    margin-right: 32px;
    max-width: 1000px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.cancelButtons {
    display: flex;
    gap: 20px;
    padding: 20px;
    background-color: var(--cBgSecondary);
    padding-left: 32px;
}

.orderPaymentWrapperButton {
    border-radius: 15px;
}

.orderPaymentWrapper {
    padding: 32px 0;
    margin-left: 32px;
    margin-right: 32px;
    max-width: 1000px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.orderPaymentWrapperTotalSum {
    font-size: 18px;
    margin-bottom: 16px;
}

.orderPaymentWrapperTotalSum > span {
    font-weight: 600;
}

.collapsedPayment {
    margin-top: 16px;
    background: linear-gradient(
        90deg,
        rgba(91, 137, 255, 0.9) 0%,
        rgba(102, 144, 253, 0.7) 36%,
        rgba(145, 197, 255, 1) 100%
    );
    padding: 16px;
    border-radius: 15px;
    max-width: 450px;
    width: 100%;
    color: var(--cTextSecondary);
}

.collapsedPaymentTitle {
    margin-bottom: 16px;
}

.phone {
    cursor: pointer;
    padding: 8px 8px 8px 8px;
    gap: 24px;
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: var(--cBgSecondary);
    border-radius: 16px;
    color: var(--cTextThird);
    margin-bottom: 20px;
    transition: background-color 0.1s linear;
}

.phone:hover {
    border: none;
    outline: none;
    background-color: #fcfcfc;
}

.input.inputPhone :global .MuiInputAdornment-root {
    display: none;
}

.name {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 700;
}

.orderConfirmPaymentButton {
    border-radius: 15px;
}

.cancelButton {
    width: 250px;
    border-radius: 15px;
}

.buttons {
    display: flex;
    margin-top: 32px;
    gap: 24px;
}

.buttonItem {
    border-radius: 15px;
}

.openReviewPopupButton {
    font-size: 16px;
    border-radius: 15px;
    height: 28px;
    color: var(--cTextPrimary);
    text-transform: none;
    white-space: nowrap;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 600;
    padding: 2px 12px;
}

.inputItem .input > div > input {
    height: 0;
    padding: 20px 0;
}

.reminerBlock {
    font-size: 16px;
    height: 28px;
    color: var(--cTextLow);
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    font-weight: 600;
    margin-top: 10px;
    transition-duration: 200ms;
}

.reminerBlock:hover {
    color: var(--cTextPrimary);
}

.feedBackSentBlock {
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    white-space: nowrap;
    margin-top: 3px;
    height: 28px;
    color: var(--cTextPrimary);
    text-transform: none;
    font-weight: 600;
    padding: 2px 12px;
}

.partnerFeedBack {
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 15px;
    cursor: pointer;
    height: 28px;
    color: var(--cTextPrimary);
    text-transform: none;
    font-weight: 600;
    padding: 2px 12px;
}

.partnerFeedBack:hover {
    text-decoration: underline;
}

.feedBackSentBlock:hover {
    text-decoration: underline;
}

.openReviewPopupButton:hover {
    text-decoration: underline;
}

.detailsButtons {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    align-items: center;
}

.detailsBlock {
    margin-bottom: 16px;
    line-height: 22px;
    letter-spacing: 0.25px;
    font-size: 16px;
}

@media screen and (max-width: 1130px) {
    .orderConent {
        flex-direction: column;
    }
    /* .haveSomeProblems {
        width: 90%;
    } */
}

@media screen and (max-width: 1283px) {
    .inputItem .input :global .MuiInputBase-root {
        height: 34px;
    }
    .inputItem .input {
        height: 34px;
    }
    .inputItem .input > div > input {
        height: 0;
        padding: 17px 0;
    }
}

@media screen and (max-width: 980px) {
    .inputItem .inputPhone {
        margin-top: 1px;
    }
    .inputItem .selectBank {
        margin-top: 0;
    }
}

@media screen and (max-width: 930px) {
    .detailsButtons {
        flex-direction: column;
        gap: 16px;
        align-items: flex-start;
    }
    .detailsButtons > div > span {
        padding-left: 5px;
    }
}

@media screen and (max-width: 840px) {
    .inputItem .inputPhone {
        margin-top: 1px;
    }

    .valuesByColumns {
        gap: 20px;
    }
}

@media screen and (max-width: 780px) {
    .inputItem .inputPhone {
        margin-top: 2px;
    }
    .orderDetailsTitle {
        font-size: 30px;
    }
    .infoLeft {
        font-size: 14px;
    }
    .infoRight {
        font-size: 14px;
    }
    .infoRightId > span {
        font-size: 14px;
    }
    .detailsButtons > div > span {
        font-size: 16px;
        padding-left: 5px;
    }
}

@media screen and (max-width: 720px) {
    .inputItem .input :global .MuiInputBase-root {
        height: 32px;
    }
    .inputItem .input {
        margin-top: 2px;
        height: 32px;
    }
    .inputItem .input > div > input {
        height: 0;
        padding-top: 20px;
        padding-left: 16px;
    }
}

@media screen and (max-width: 700px) {
    .orderDetailsTitle {
        font-size: 28px;
        margin-bottom: 10px;
    }
    .createdDate {
        margin-right: 24px;
        gap: 15px;
    }
    .orderStatus {
        font-size: 15px;
    }
    .orderDetailsInfo {
        font-size: 15px;
    }
    .infoRight span {
        font-size: 15px;
    }
    .infoRight svg {
        width: 16px;
        height: 16px;
    }
    .inputItem .input :global .MuiInputBase-root {
        height: 32px;
    }
    .orderDetails {
        padding: 32px 10px;
    }
    .orderInformation {
        margin: 0 10px;
    }
    .orderInputValue {
        font-size: 15px;
    }
    .orderInputValueWrapper svg {
        height: 16px;
        width: 16px;
    }
    .column:last-child {
        max-width: 100px;
    }
    .haveSomeProblems {
        margin-left: 10px;
    }
    .cancelButtonWrapper {
        padding-left: 10px;
    }
    .cancelButtons {
        padding-left: 0;
    }
    .detailsButtons {
        gap: 8px;
    }
}

@media screen and (max-width: 630px) {
    .orderDetails {
        flex-direction: column;
        gap: 20px;
    }
    .infoLeft {
        gap: 8px;
    }
    .infoRight {
        gap: 8px;
    }
}

@media screen and (max-width: 560px) {
    .multiline {
        width: 100%;
    }
    .haveSomeProblems {
        text-align: center;
        font-size: 14px;
    }
    .orderStatus {
        margin-right: 0;
    }
    .orderPaymentWrapper {
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: 0 10px;
        justify-content: flex-start;
    }
    .inputItem .inputPhone {
        margin-top: 0;
    }
    .buttons {
        margin-top: 20px;
    }
}

@media screen and (max-width: 530px) {
    .collapsedPayment {
        max-width: 350px;
    }

    .confirmPhoneButton {
        margin-top: 30px;
    }
    .inputItem .input {
        height: 32px;
        margin-top: 2px;
    }
}

@media screen and (max-width: 600px) {
    .haveSomeProblems {
        width: 95%;
        margin: 0 auto;
    }
    .cancelButtons {
        flex-direction: column;
        align-items: center;
    }
    .cancelButton {
        white-space: nowrap;
    }
}

@media screen and (max-width: 550px) {
    .valuesByColumns {
        flex-direction: column;
    }
}

@media screen and (max-width: 484px) {
    .orderInputValueWrapper {
        width: 400px;
    }
    .inputItem .input {
        height: 32px;
    }
    .inputItem .input :global .MuiInputBase-root {
        height: 33px;
        margin-top: -1px;
    }
    .orderInformationTitle {
        margin-bottom: 30px;
    }
    .orderInputValue {
        max-width: 400px;
    }
    .column:last-child {
        max-width: 300px;
    }
    .productName {
        margin-bottom: 16px;
    }
    .multiline :global .MuiInputBase-root {
        font-size: 12px;
        padding: 10px;
    }
    .buttons {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 460px) {
    .inputItem .input {
        height: 32px;
        margin-top: 2px;
    }
}

@media screen and (max-width: 430px) {
    .orderInputValue {
        max-width: 350px;
    }
    .inputItem .input {
        height: 32px;
        margin-top: 2px;
    }
}

@media screen and (max-width: 390px) {
    .orderDetailsInfo {
        font-size: 13px;
        gap: 5px;
    }
    .createdDate {
        margin-right: 18px;
        gap: 10px;
    }
    .infoRight {
        text-align: left;
    }
    .infoRight span {
        font-size: 13px;
    }
    .infoRight svg {
        height: 14px;
        width: 14px;
    }
    .infoRightId {
        gap: 5px;
    }
    .orderInputValue {
        max-width: 250px;
    }
}
