.orderLoaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex: 1;
}

.messagesLoaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.detailsLoaderWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
}

.ldsRing {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 64px;
    height: 64px;
}
.ldsRing div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 56px;
    height: 56px;
    border: 8px solid var(--cBgSecondary);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--cBgSecondary) transparent transparent transparent;
}
.ldsRing div:nth-child(1) {
    animation-delay: -0.45s;
}
.ldsRing div:nth-child(2) {
    animation-delay: -0.3s;
}
.ldsRing div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
