.wrapper {
    min-height: calc(100vh - 80px);
    background-color: var(--cBgSecondary);
}

.orderConent {
    display: flex;
}

.orderDetails {
    padding: 32px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--cBgThird);
}

.orderDetailsMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.orderDetailsTitle {
    font-size: 32px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 8px;
}

.orderStatus {
    color: var(--cTextLow);
    font-size: 18px;
}

.orderStatus > span {
    color: var(--cTextThird);
    font-weight: 600;
}

.orderDetailsInfo {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
    font-size: 18px;
    line-height: 26px;
}

.infoLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--cTextLow);
    text-align: right;
}

.infoRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--cTextThird);
    font-weight: 600;
    text-align: right;
}

.infoRight span {
    font-size: 18px;
    line-height: 26px;
}

.infoRight svg {
    cursor: pointer;
}

.infoRight path {
    color: var(--cTextLow);
}

.infoRightId {
    display: flex;
    align-items: center;
    gap: 8px;
}

.infoRightId > div {
    height: 22px;
}

/* ------ Order information -------- */

.byOther {
    width: 100%;
    padding: 4px 32px;
    font-size: 16px;
    color: var(--cTextSecondary);
    background-color: var(--cBgSuccess);
}

.byYou {
    width: 100%;
    padding: 4px 32px;
    font-size: 16px;
    color: var(--cTextSecondary);
    background-color: #df821e;
}

.confirmationString {
    width: 100%;
    padding: 4px 32px;
    font-size: 16px;
    color: var(--cTextSecondary);
    background-color: var(--cBg);
}

.productName {
    margin-bottom: 32px;
}

.orderInformation {
    flex: 1;
    padding: 32px 0;
    margin: 0 32px;
}

.orderInformationTitle {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    margin-bottom: 48px;
}

.orderInputValueWrapper {
    display: flex;
    align-items: center;
}

.orderInputValueWrapper svg {
    cursor: pointer;
}

.orderInputValueWrapper svg > path {
    color: var(--cTextLow);
}

.orderInputValueWrapper svg:hover > path {
    color: var(--cTextThird);
}

.orderInputValue {
    font-size: 18px;
    line-height: 40px;
    font-weight: 500;
    margin-right: 12px;
    max-width: calc(250px - 24px - 8px);
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.orderInputValue.green {
    color: var(--cTextSuccess);
}

.orderInputValue.orange {
    color: #df821e;
}

.editingWrapper {
    display: flex;
    align-items: center;
}

.editingWrapper svg {
    cursor: pointer;
}

.editingWrapper svg > path {
    color: var(--cTextLow);
}

.editingWrapper svg:hover > path {
    color: var(--cTextThird);
}

.inputItem {
    max-width: 250px;
    width: 100%;
}

.inputItem .input {
    width: 100%;
    margin-right: 12px;
}
.inputItem .input :global .MuiInputBase-root {
    border-radius: 15px;
    height: 40px;
    width: 100%;
}

.inputItem > label {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.4px;
    color: var(--cTextLow);
}

.valuesByColumns {
    display: flex;
    gap: 64px;
    margin-bottom: 24px;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 250px;
    width: 100%;
}

.multilineItem {
    max-width: 516px;
}

.multiline {
    width: 100%;
    margin-right: 16px;
}

.multiline.green textarea {
    -webkit-text-fill-color: var(--cTextSuccess) !important;
}

.multiline.orange textarea {
    -webkit-text-fill-color: #df821e !important;
}

.multiline :global .MuiInputBase-root {
    border-radius: 15px;
    width: 100%;
}

.haveSomeProblems {
    color: var(--cTextPrimary);
    padding: 32px 0;
    margin-left: 32px;
    margin-right: 32px;
    max-width: 1000px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.orderPaymentWrapperButton {
    border-radius: 15px;
}

.orderPaymentWrapper {
    padding: 32px 0;
    margin-left: 32px;
    margin-right: 32px;
    max-width: 1000px;
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.orderPaymentWrapperTotalSum {
    font-size: 18px;
    margin-bottom: 16px;
}

.orderPaymentWrapperTotalSum > span {
    font-weight: 600;
}

.collapsedPayment {
    margin-top: 16px;
    background: linear-gradient(
        90deg,
        rgba(91, 137, 255, 0.9) 0%,
        rgba(102, 144, 253, 0.7) 36%,
        rgba(145, 197, 255, 1) 100%
    );
    padding: 16px;
    border-radius: 15px;
    max-width: 450px;
    color: var(--cTextSecondary);
}

.collapsedPaymentTitle {
    margin-bottom: 16px;
}

.phone {
    cursor: pointer;
    padding: 8px 8px 8px 8px;
    gap: 24px;
    display: flex;
    align-items: center;
    width: fit-content;
    background-color: #ebebeb;
    border-radius: 15px;
    color: var(--cTextThird);
    margin-bottom: 20px;
    transition: background-color 0.1s linear;
}

.phone:hover {
    background-color: #fcfcfc;
}

.name {
    margin-bottom: 16px;
}

.orderConfirmPaymentButton {
    border-radius: 15px;
}

.cancelButtonWrapper {
    padding: 32px;
}
.cancelButton {
    width: 250px;
    border-radius: 15px;
}

.buttons {
    display: flex;
    margin-top: 32px;
    gap: 24px;
}

.buttonItem {
    border-radius: 15px;
}
