.paymentHeaders {
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.225);
}

.emptyPayoutsWrapper {
    height: 570px;
    margin-bottom: 30px;
}

.loaderWrapper {
    display: flex;
    flex: 1;
}

.paymentHeader {
    text-align: left;
    max-width: 150px;
    width: 100%;
    white-space: nowrap;
}

.payoutHeader {
    margin-top: 30px;
    display: flex;
    padding-bottom: 20px;
    justify-content: space-between;
    align-items: flex-end;
    font-weight: 700;
    color: var(--cTextThird);
    letter-spacing: 0.4px;
    font-size: 40px;
    white-space: nowrap;
}

.paymentTotalAmount {
    font-weight: 500;
    font-size: 24px;
}

.paymentWrapper {
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
}

.payoutItemWrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.225);
}

.payoutItemData {
    text-align: left;
    max-width: 150px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    width: 100%;
}

.payoutItemData:first-child {
    color: var(--cTextPrimary);
    cursor: pointer;
}

.payoutStatus {
    color: var(--cTextSecondary);
    display: flex;
    align-items: center;
    gap: 5px;
}

.payoutStatusAwait {
    color: var(--cBgAwaiting);
}

.payoutStatusSuccess {
    color: var(--cBgSuccess);
}

.pagination {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.cardsWrapper {
    display: flex;
    gap: 40px;
    padding: 10px;
    padding-left: 0;
    overflow-x: auto;
    align-items: center;
}

.cardsWrapper::-webkit-scrollbar {
    height: 10px;
}

.cardsWrapper::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 16px;
}

.cardsWrapper::-webkit-scrollbar-thumb {
    background-color: var(--cTextPrimary);
    border-radius: 16px;
    border: 1px solid var(--cTextSecondary);
}

.cardItemWrapper {
    position: relative;
    cursor: pointer;
    border-radius: 16px;
    padding: 20px;
    padding-top: 10px;
    min-width: 360px;
    height: 100px;
    margin-left: 3px;
    transition-duration: 0.15s;
    box-shadow: 3px 0px 10px 1px rgba(102, 144, 253, 0.25);
}

.noSelectedCard:hover {
    background-color: rgba(102, 144, 253, 0.05);
    box-shadow: 3px 0px 10px 1px var(--cBgHover);
}

.centerCardItemWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition-duration: 0.15s;
}

.centerCardItemWrapper:hover {
    background-color: rgba(102, 144, 253, 0.05);
    box-shadow: 3px 0px 10px 1px var(--cBgHover);
}

.disabledAddNewCard {
    pointer-events: none;
    opacity: 0.4;
}

.selectedCard {
    background: var(
        --gradient,
        linear-gradient(
            97deg,
            var(--cBg) 7.87%,
            rgba(102, 144, 253, 0.4) 99.05%
        )
    );
}

.cardItemNumber {
    color: var(--cTextThird);
    font-size: 20px;
    font-weight: 800;
    line-height: 25px;
    margin-top: 10px;
    letter-spacing: 0.4px;
}

.cardItemName {
    margin-top: 12px;
    color: var(--cTextThird);
    font-size: 20px;
    user-select: none;
    line-height: 20px;
    letter-spacing: 0.4px;
}

.cardItemBank {
    color: var(--cTextLow);
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.4px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.emptyCardItemTitle {
    text-align: center;
    color: var(--cTextThird);
    font-size: 20px;
    font-weight: 800;
    margin-top: 4px;
    user-select: none;
    line-height: 20px;
    letter-spacing: 0.4px;
}

@media screen and (max-width: 990px) {
    .paymentHeader {
        text-align: center;
    }
    .payoutItemData {
        justify-content: center;
    }
    .payoutStatus {
        justify-content: center;
    }
    .payoutStatus > svg {
        width: 20px;
    }
}

@media screen and (max-width: 890px) {
    .paymentHeader {
        font-size: 12px;
    }
    .payoutStatus {
        align-items: center;
    }
    .payoutItemData {
        font-size: 12px;
    }
    .paymentTitle {
        font-weight: 700;
        font-size: 32px;
        margin-top: 0;
    }

    .paymentWrapper {
        padding: 0 10px;
        padding-top: 20px;
    }
}

@media screen and (max-width: 740px) {
}

@media screen and (max-width: 660px) {
    .paymentHeader {
        font-size: 10px;
    }
    .paymentTotalAmount {
        font-size: 20px;
    }
    .payoutStatus {
        align-items: center;
        gap: 2px;
    }
    .payoutItemData {
        font-size: 10px;
    }
    .payoutStatus > svg {
        width: 15px;
    }
}

@media screen and (max-width: 550px) {
    .paymentHeader {
        font-size: 9px;
    }
    .payoutStatus {
        align-items: center;

        gap: 1px;
    }
    .payoutItemData {
        font-size: 8px;
    }
    .payoutItemWrapper {
        padding: 10px 0;
    }
    .payoutStatus > svg {
        width: 10px;
    }
    .paymentTitle {
        font-weight: 600;
        font-size: 24px;
    }
}

@media screen and (max-width: 450px) {
    .pagination {
        margin-top: 10px;
    }
    .cardsWrapper {
        overflow: hidden;
        flex-wrap: wrap;
    }
    .payoutStatus {
        align-items: center;
        padding-left: 5px;
        gap: 1px;
    }
    .paymentHeaders {
        padding: 0;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 420px) {
    .cardsWrapper {
        justify-content: center;
    }
    .emptyCardItemTitle {
        margin-top: 10px;
        font-size: 16px;
        white-space: nowrap;
    }
}

@media screen and (max-width: 400px) {
    .paymentTotalAmount {
        font-size: 15px;
    }
    .cardsWrapper {
        justify-content: center;
    }
    .cardItemWrapper {
        min-width: 320px;
    }
}

@media screen and (max-width: 400px) {
    .paymentHeader {
        font-size: 8px;
        text-align: start;
        margin: 0 2px;
    }
    .payoutItemData {
        font-size: 7px;
        margin: 0 4px;
    }
}
