.popup {
    background-color: var(--cBgSecondary);
    width: 100%;
    max-width: 800px;
    position: absolute;
    left: 50%;
    top: 50%;
    padding: 30px;
    padding-top: 16px;
    border-radius: 20px;
    transform: translate(-50%, -50%);
}

.currency {
    font-size: 20px;
}

.icon {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}

.popupTitle {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: var(--cTextThird);
    text-align: center;
}

.inputItem {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputItem > label {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: var(--cTextPrimary);
}

.inputItem > label > span {
    font-size: 10px;
    line-height: 20px;
    text-transform: none;
    color: var(--cTextThird);
    margin-left: 2px;
}

.input {
    width: 100%;
}

.select {
    border-radius: 15px;
}

.input :global .MuiInputBase-root {
    border-radius: 15px;
    height: 40px;
}

.descriptionInput :global .MuiInputBase-root {
    width: 100%;
    border-radius: 15px;
}

.form {
    width: 100%;
    max-width: 804px;
}

.formGeneral {
    margin-bottom: 24px;
}

.confirmButton {
    width: 200px;
    height: 50px;
    border-radius: 15px;
    margin-top: 20px !important;
    margin-left: auto !important;
}

@media screen and (max-width: 820px) {
    .popup {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .stack {
        flex-direction: column;
    }
    .inputItemSecond {
        margin-left: 0px !important;
        padding-top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .inputItem > label {
        font-size: 12px;
    }
    .confirmButton {
        margin: 20px auto !important;
        margin-bottom: 0 !important;
    }
    .popupTitle {
        margin-bottom: 10px;
    }
    .stack {
        margin-top: 5px;
    }
    .inputItemSecond {
        padding-top: 5px;
    }
}
