.review {
    display: flex;
    width: 100%;
    max-width: 1000px;
    box-shadow: 0px 0px 15px 1px rgba(102, 144, 253, 0.25);
    border-radius: 30px;
    margin: 0 auto;
}

.reviewDetails {
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    padding: 12px 18px;
    justify-content: space-between;
    align-items: center;
}
.reviewTextData {
    text-align: center;
}

.reviewName {
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.4px;
    margin-top: 10px;
}

.reviewRole {
    font-weight: 400;
    font-size: 13px;
    margin-top: 7px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: var(--cTextPrimary);
}

.reviewProfile {
    color: var(--cTextThird);
    display: flex;
    flex-direction: column;
    align-items: center;

    border-right: 1px solid rgba(0, 0, 0, 0.12);
    padding: 20px 45px;
}

.reviewAvatar {
    width: 120px;
    height: 120px;
}

.reviewData {
    color: var(--cTextThird);
    padding-bottom: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.reviewText {
    padding: 18px 13px;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.4px;
    flex: 1;
    overflow-y: auto;
}

.reviewBenefit {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.reviewRating {
    font-size: 25px;
    color: var(--cTextPrimary);
}

.reviewBenefit > span {
    color: var(--cTextPrimary);
}

.reviewDate {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: var(--cTextPrimary);
}

.reviewPopupWrapper {
    position: absolute;
    background-color: var(--cBgSecondary);
    margin-left: 5%;
    border-radius: 16px;
    z-index: 3;
    max-width: 450px;
    width: 100%;
    height: 230px;
    -webkit-box-shadow: 2px 4px 14px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 2px 4px 14px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 2px 4px 14px 1px rgba(34, 60, 80, 0.2);
}

.reviewPopuploseIcon {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: var(--cTextPrimary);
}

.reviewPopupTitle {
    padding: 12px;
    display: flex;
    flex-direction: column;
    border-radius: 16px 16px 0 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.225);
}

.reviewPopupTitle > h4 {
    font-weight: 600;
    letter-spacing: 0.6px;
}

.reviewPopupTitle > span {
    font-size: 12px;
    color: var(--cTextLow);
    margin-top: 2px;
}

.reviewPopupContent {
    padding-top: 5px;
    padding-left: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.225);
    display: flex;
    height: 120px;
}

.reviewPopupParams {
    padding: 9.5px 0;
    padding-left: 10px;
    display: flex;
    align-items: center;
    color: var(--cTextPrimary);
    border-radius: 0 0 16px 16px;
}

@media screen and (max-width: 850px) {
    .reviewAvatar {
        width: 80px;
        height: 80px;
    }
    .reviewName {
        font-size: 15px;
        line-height: 20px;
    }
    .reviewProfile {
        width: 180px;
        padding: 20px 10px;
    }
    .reviewText {
        font-size: 12px;
        line-height: 14px;
        padding: 10px;
    }
    .reviewPopupWrapper {
        max-width: 350px;
    }
    .reviewRole {
        font-size: 12px;
    }
    .reviewBenefit {
        font-size: 12px;
    }
    .reviewDate {
        font-size: 12px;
    }
    .reviewDetails {
        padding: 5px 10px;
    }
}

@media screen and (max-width: 600px) {
    .reviewAvatar {
        width: 60px;
        height: 60px;
    }
    .reviewProfile {
        width: 120px;
        padding: 10px;
    }
    .reviewName {
        font-size: 12px;
    }
    .reviewRole {
        font-size: 10px;
        margin-top: 0;
    }
    .reviewText {
        font-size: 10px;
        line-height: 12px;
    }
    .reviewBenefit {
        font-size: 9px;
    }
    .reviewDate {
        font-size: 9px;
    }
}

@media screen and (max-width: 500px) {
    .review {
        border-radius: 15px;
        flex-direction: column;
    }
    .reviewBenefit {
        display: none;
    }
    .reviewProfile {
        border-right: none;
        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    }
    .reviewAvatar {
        width: 40px;
        height: 40px;
    }
    .reviewTextData {
        padding-left: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .reviewName {
        margin-top: 0;
        text-align: left;
    }
    .reviewText {
        min-height: 70px;
    }
}
