.thanksForRegistrationWrapper {
    min-height: 100vh;
    width: 100%;
    color: var(--cTextPrimary);
    background-repeat: no-repeat no-repeat no-repeat;
    background-size: cover;
    background-image: url('/static/images/thanks-for-registration/background.jpg');
}

:global(body.dark) .thanksForRegistrationWrapper {
    background-color: var(--cBgSecondary);
    background-image: none;
}

.thanksForRegistrationWrapper::before {
    position: absolute;
    content: '';
    right: 0;
    top: 0;
    width: 650px;
    height: 650px;
    background-image: url(/static/images/thanks-for-registration/thanks_photo.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: contain;
}

.thanksForRegistrationText {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    max-width: 900px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.65px;
}

.thanksForRegistrationButton {
    width: 230px;
    margin-top: 36px;
    border-radius: 16px;
}

@media screen and (max-width: 1400px) {
    .thanksForRegistrationText {
        margin-top: 200px;
    }
}

@media screen and (max-width: 750px) {
    .thanksForRegistrationWrapper::before {
        height: 500px;
        width: 500px;
    }
    .text {
        font-size: 36px;
    }
}

@media screen and (max-width: 550px) {
    .thanksForRegistrationText {
        margin-top: 50px;
    }
    .thanksForRegistrationWrapper::before {
        height: 400px;
        width: 400px;
    }
    .text {
        font-size: 30px;
    }
    .thanksForRegistrationButton {
        margin-top: 20px;
    }
}

@media screen and (max-width: 450px) {
    .text {
        font-size: 24px;
    }
    .thanksForRegistrationWrapper::before {
        width: 350px;
        height: 350px;
    }
}
