.banner {
    width: 100%;
    height: 700px;
    background: url(/static/images/main-page/background2.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: var(--cBgSecondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cTextPrimary);
}

.title {
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    margin-top: 85px;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.description {
    font-weight: 500;
    font-size: 42px;
    line-height: 66px;
    margin-top: 45px;
    text-align: center;
    letter-spacing: 0.4px;
}

.descriptionWithoutFastSignUp {
    margin-bottom: 150px;
}

.fastSignUp {
    margin-top: 140px;
}

.emailInput {
    color: var(--cTextPrimary);
    background-color: var(--cBgSecondary);
    border-radius: 15px;
}

.submitButton {
    margin-left: 40px;
    padding: 23px 23px;
    height: 48px;
    border-radius: 15px;
}

.emailInput > label {
    line-height: 20px;
    color: var(--cTextPrimary);
}

.emailInput > div {
    height: 48px;
    box-sizing: border-box;
    border-radius: 15px;
}

.emailInput > div:hover > fieldset {
    border-color: var(--cBorderPrimary) !important;
}

.emailInput > div > input {
    color: var(--cTextPrimary);
    height: 14px;
}
z .emailInput > div > fieldset {
    border-color: var(--cBorderPrimary);
}

.rolesWrapper {
    background: linear-gradient(180deg, #ffffff 0%, #6690fd 100%);
    width: 100%;

    color: var(--cTextThird);
}

.roleBlock {
    text-align: center;
}

.rolesTitle {
    padding-top: 120px;
    font-weight: 600;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 0.4px;
    color: var(--cTextPrimary);
}

.possibleRoles {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}

.role {
    text-align: center;
    width: 500px;
}

.role > img {
    height: 450px;
}

.roleInfo {
    color: var(--cTextSecondary);
}

.roleTitle {
    margin-top: 25px;
    font-weight: 500;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.6px;
}

.roleDescription {
    padding: 0 35px;
    margin-top: 17px;
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
    letter-spacing: 0.4px;
    white-space: normal;
}

.roleLeft {
    margin-left: 80px;
}

.roleRight {
    margin-right: 40px;
}

.stepsWrapper {
    background: var(--cTextPrimary);
}

.stepsTitle {
    padding-top: 40px;
    font-weight: 600;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.6px;
    color: var(--cTextSecondary);
    position: relative;
    z-index: 2;
}

.stepsText {
    width: 80%;
}

.stepText {
    color: var(--cTextSecondary);
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
    text-align: justify;
}

.leftPartContent {
    text-align: center;
}

.stepImage {
    width: auto;
    height: 300px;
    border-radius: 20px;
}

.stepsBlock {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    padding-bottom: 40px;
    padding-top: 60px;
    flex-direction: column;
}

.stepBlock {
    display: flex;
    width: 100%;
}

.stepBlockReverse {
    flex-direction: row-reverse;
}

.stepPart {
    flex: 1 1;
    margin-top: 30px;
}

.rightPart {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 40px;
}

.leftPart {
    width: 100%;
    max-width: 800px;
    height: 330px;
    align-items: flex-end;
}

.stepPartReverse {
    align-items: flex-end;
    padding-right: 60px;
}

.stepTitle {
    text-align: left;
    color: var(--cTextSecondary);
    font-size: 36px;
    font-weight: 600;
}

.stepTitleRight {
    text-align: right;
}

.advantagesBlock {
    background: linear-gradient(180deg, #6690fd 0%, #ffffff 100%);
}

.advantagesTitle {
    padding-top: 40px;
    font-weight: 600;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.6px;
    color: var(--cTextSecondary);
}

.advantage {
    width: 33%;
}

.advantage > img {
    width: 100%;
}

.advantages {
    display: flex;
    margin: 0 25px;
    margin-top: 60px;
    color: var(--cTextPrimary);
    padding-bottom: 120px;
}

.advantageText {
    margin: 0 20px;
}

.advantageTitle {
    font-weight: 600;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.6px;
}

.advantageDescription {
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.4px;
}

@media screen and (max-width: 1450px) {
    .title {
        font-size: 50px;
    }

    .description {
        font-size: 32px;
        line-height: 50px;
        padding-right: 20px;
        padding-left: 20px;
        white-space: normal;
    }
}

@media screen and (max-width: 1036px) {
    .stepOne {
        height: 350px;
        width: 100%;
    }
    .stepOneTitle {
        font-size: 40px;
    }
    .stepOneTextPart {
        font-size: 18px;
        margin-left: -50px;
    }
    .stepOneTextPartTwo {
        font-size: 18px;
        margin-left: 35px;
    }
    .stepTwo {
        height: 410px;
    }
    .stepTwoTitle {
        font-size: 40px;
    }
    .stepTwoTextPart {
        font-size: 18px;
    }
    .stepTwoTextPartTwo {
        font-size: 18px;
    }
    .stepThree {
        height: 300px;
    }
    .stepThreeTitle {
        font-size: 40px;
    }
    .stepThreeText {
        font-size: 18px;
        width: 500px;
        margin-left: 30px;
    }
    .advantageTitle {
        font-size: 28px;
        font-weight: 700;
    }
    .stepTitle {
        font-size: 28px;
    }
    .stepText {
        font-size: 20px;
        line-height: 24px;
    }
    .stepImage {
        height: 250px;
    }
    .rightPart {
        padding-left: 10px;
    }
    .stepPartReverse {
        padding-right: 30px;
    }
    .stepsText {
        width: 95%;
    }
    .stepImage {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width: 960px) {
    .stepsBlock {
        justify-content: center;
    }
}

@media screen and (max-width: 850px) {
    .title {
        font-size: 42px;
    }
    .description {
        font-size: 26px;
    }
    .roleTitle {
        font-size: 40px;
    }
    .roleDescription {
        font-size: 20px;
        line-height: 25px;
    }
    .advantageTitle {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0;
    }
    .advantageDescription {
        font-size: 20px;
        line-height: 25px;
    }
}

@media screen and (max-width: 730px) {
    .role > img {
        height: 300px;
    }
    .roleLeft {
        margin-left: 40px;
    }
    .roleRight {
        margin-right: 40px;
    }
    .roleTitle {
        font-size: 32px;
    }
    .roleDescription {
        padding: 0 20px;
    }
    .rolesTitle {
        font-size: 36px;
        padding-top: 80px;
    }
    .stepsTitle {
        padding-top: 0;
        font-size: 36px;
    }
    .advantagesTitle {
        font-size: 36px;
    }
    .advantageTitle {
        font-size: 28px;
        line-height: 34px;
    }
    .advantages {
        flex-direction: column;
    }
    .advantage {
        text-align: center;
        width: 70%;
        margin: 20px auto;
    }
    .advantage > img {
        width: 300px;
    }
    .advantageTextAnotherColor {
        color: white;
    }
    .stepTitle {
        font-size: 25px;
    }
    .stepText {
        margin-top: 10px;
        font-size: 18px;
        line-height: 20px;
    }
    .leftPart {
        height: 200px;
    }
}

@media screen and (max-width: 640px) {
    .stepBlock {
        flex-direction: column-reverse;
        width: 80%;
        margin: 0 auto;
    }
    .rightPart {
        padding-left: 0;
    }
    .stepPartReverse {
        padding-right: 0;
        align-items: flex-start;
    }
    .stepsText {
        width: 100%;
    }
    .stepText {
        font-size: 20px;
        line-height: 24px;
    }
    .stepTitle {
        font-size: 28px;
    }
    .stepsBlock {
        padding-top: 10px;
    }
}

@media screen and (max-width: 560px) {
    .description {
        font-size: 24px;
        line-height: 35px;
    }
    .roleTitle {
        font-size: 28px;
    }
    .fastSignUp {
        padding-bottom: 20px;
    }
    .roleDescription {
        font-size: 18px;
        line-height: 20px;
        margin-top: 0;
    }
    .stepsBlock {
        padding-left: 20px;
    }
    .form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .advantageDescription {
        padding-top: 10px;
    }
    .advantage {
        width: 90%;
        margin: 30px auto;
    }
    .submitButton {
        margin-left: 0;
    }
}

@media screen and (max-width: 440px) {
    .title {
        font-size: 36px;
    }
    .description {
        line-height: 30px;
    }
    .fastSignUp {
        margin-top: 100px;
    }
    .emailInput {
        text-align: center;
    }
    .role > img {
        height: 200px;
    }
    .roleLeft {
        margin-left: 20px;
    }
    .roleRight {
        margin-right: 20px;
    }
    .roleTitle {
        font-size: 24px;
        margin-top: 10px;
    }
    .roleDescription {
        font-size: 14px;
        line-height: 16px;
        padding: 0 10px;
    }
    .advantage > img {
        width: 200px;
    }
    .advantagesTitle {
        padding-top: 0;
        font-size: 30px;
    }
    .advantageDescription {
        font-size: 16px;
        line-height: 20px;
    }
    .advantages {
        padding-bottom: 40px;
    }
    .stepsTitle {
        font-size: 30px;
    }
    .rolesTitle {
        font-size: 30px;
    }
    .stepsBlock {
        padding-left: 0px;
    }
    .stepText {
        font-size: 16px;
        line-height: 18px;
    }
    .stepBlock {
        width: 90%;
    }
}
