.banner {
    width: 100%;
    height: 700px;
    background: url(/static/images/main-page/background2.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: var(--cBgSecondary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--cTextPrimary);
}

.title {
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.description {
    font-weight: 500;
    font-size: 42px;
    line-height: 66px;
    margin-top: 95px;
    text-align: center;
    letter-spacing: 0.4px;
}

.fastSignUp {
    margin-top: 140px;
}

.emailInput {
    color: var(--cTextPrimary);
    background-color: var(--cBgSecondary);
    border-radius: 5px;
}

.submitButton {
    margin-left: 40px;
    padding: 23px 23px;
    height: 48px;
}

.emailInput > label {
    line-height: 20px;
    color: var(--cTextPrimary);
}

.emailInput > div {
    height: 48px;
    box-sizing: border-box;
}

.emailInput > div:hover > fieldset {
    border-color: var(--cBorderPrimary) !important;
}

.emailInput > div > input {
    color: var(--cTextPrimary);
}

.emailInput > div > fieldset {
    border-color: var(--cBorderPrimary);
}

.rolesWrapper {
    background: linear-gradient(180deg, #ffffff 0%, #6690fd 100%);
    width: 100%;

    color: var(--cTextThird);
}

.roleBlock {
    text-align: center;
}

.rolesTitle {
    padding-top: 120px;
    font-weight: 600;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 0.4px;
    color: var(--cTextPrimary);
}

.possibleRoles {
    display: flex;
    margin-top: 60px;
    justify-content: center;
}

.role {
    text-align: center;
    width: 500px;
}

.role > img {
    height: 450px;
}

.roleInfo {
    color: var(--cTextSecondary);
}

.roleTitle {
    margin-top: 25px;
    font-weight: 500;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.6px;
}

.roleDescription {
    margin: 0 35px;
    margin-top: 17px;
    margin-bottom: 120px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-align: justify;
    letter-spacing: 0.4px;
}

.roleLeft {
    margin-left: 80px;
}

.roleRight {
    margin-right: 40px;
}

.stepsWrapper {
    background: var(--cTextPrimary);
}

.stepsTitle {
    padding-top: 40px;
    font-weight: 600;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.6px;
    color: var(--cTextSecondary);
    position: relative;
    z-index: 2;
}

.stepsBlock {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 40px;
}

.stepOne {
    color: var(--cTextPrimary);
    max-width: 483px;
    height: 400px;
    margin-top: 50px;
    width: 100%;
    background: url('/static/images/main-page/step-one-bg.png');
    background-size: cover;
}

.stepOneTitle {
    margin-top: 45px;
    margin-left: 100px;
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0.4px;
}

.stepOneText {
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
    margin-top: 17px;
}

.stepOneTextPart {
    max-width: 267px;
    width: 100%;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.4px;
}

.stepOneTextPartTwo {
    margin-left: 100px;
}

.stepTwo {
    margin-top: 360px;
    max-width: 457px;
    color: var(--cTextPrimary);
    height: 450px;
    width: 100%;
    background: url('/static/images/main-page/step-two-bg.png');
    background-size: cover;
}

@media screen and (max-width: 956px) {
    .stepTwo {
        margin-top: 10px;
    }
}
.stepTwoTitle {
    margin-top: 46px;
    margin-left: 115px;
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0.4px;
}

.stepTwoTextPart {
    font-weight: 500;
    font-size: 23px;
    line-height: 26px;
    letter-spacing: 0.4px;
    max-width: 362px;
    width: 100%;
    margin-top: 10px;
    margin-left: 30px;
}

.stepTwoTextPartTwo {
    margin-left: 0;
    margin-right: 45px;
}

.stepThree {
    color: var(--cTextPrimary);
    max-width: 600px;
    height: 340px;
    width: 100%;
    background: url('/static/images/main-page/step-three-bg.png');
    background-size: cover;
}

.stepThreeTitle {
    margin-top: 49px;
    margin-left: 94px;
    font-weight: 600;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0.4px;
}

.stepThreeText {
    margin-top: 25px;
    margin-left: 54px;
    max-width: 511px;
    width: 100%;
    font-weight: 500;
    font-size: 23px;
    line-height: 26px;
    letter-spacing: 0.4px;
}

.advantagesBlock {
    background: linear-gradient(180deg, #6690fd 0%, #ffffff 100%);
}

.advantagesTitle {
    padding-top: 40px;
    font-weight: 600;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.6px;
    color: var(--cTextSecondary);
}

.advantage {
    width: 33%;
}

.advantage > img {
    width: 100%;
}

.advantages {
    display: flex;
    margin: 0 25px;
    margin-top: 60px;
    color: var(--cTextPrimary);
    padding-bottom: 120px;
}

.advantageText {
    margin: 0 20px;
}

.advantageTitle {
    font-weight: 600;
    font-size: 36px;
    margin-top: 30px;
    margin-bottom: 20px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 0.6px;
}

.advantageDescription {
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    text-align: justify;
    letter-spacing: 0.4px;
}
