.content {
    width: 100%;
    height: 700px;
    background: url(/static/images/mainPage/background2.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #6690fd;
}

.title {
    font-weight: 500;
    font-size: 80px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
}

.description2 {
    font-weight: 400;
    font-size: 35px;
    line-height: 80px;
    margin-top: 76px;
    text-align: center;
    letter-spacing: 0.15px;
}

.fastSignUp {
    margin-top: 140px;
}

.emailInput {
    background-color: #6690fd;
    color: #ffffff;
    border-radius: 5px;
}

.button {
    margin-left: 94px;
    padding: 15 22px;
    height: 48px;
}

.emailInput > label {
    line-height: 20px;
    color: #ffffff;
}

.emailInput > div {
    height: 48px;
    box-sizing: border-box;
}

.emailInput > div:hover > fieldset {
    border-color: #fafafa !important;
}

.emailInput > div > input {
    color: #ffffff;
}

.emailInput > div > fieldset {
    border-color: #ffffff;
}

.infoWrapper {
    background: linear-gradient(180deg, #6690fd 0%, #ffffff 100%);
    transform: rotate(-180deg);
    height: 1215px;
    color: #6690fd;
}

.roleBlock {
    /* margin-top: 400px; */
}

.roleTitle {
    font-weight: 600;
    font-size: 60px;
    line-height: 50px;
    letter-spacing: 0.4px;
}

.whiteBlockTitle {
    text-align: center;
    margin-top: 60px;
    font-weight: 600;
    font-size: 60px;
    line-height: 50px;
    letter-spacing: 0.4px;
    color: #6690fd;
}

.whiteBlockInfo {
    margin-top: 60px;
    display: flex;
    column-gap: 30px;
    /* column-gap: 20px; */
}

.whiteBlockInfo > img {
    width: 50%;
}

.whiteBlockInfo > div {
    display: flex;
    flex-direction: column;
}

.whiteBlockInfo > div > span {
    font-weight: 400;
    /* font-weight: 500; */
    font-size: 50px;
    /* line-height: 50px; */
    letter-spacing: 0.4px;
    color: #6690fd;
}

.whiteBlockInfo > div > div {
    margin-top: 11px;
    /* font-weight: 300; */
    font-weight: 400;
    font-size: 26px;
    /* line-height: 50px; */
    /* letter-spacing: 0.4px; */
    color: #000000;
}

.whiteBlockInfo > div > Button {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: 0.46px;
    width: fit-content;
    margin: 0 auto;
    color: #ffffff;
    margin-top: 100px;
    padding: 11px 22px;
    background-color: #6690fd;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
}

/* .whiteBlockInfo > div > Button:hover {
    background-color: #6690FD;
} */

.blueBlock {
    background-color: #6690fd;
    margin-top: 60px;
    color: #ffffff;
}

.blueBlock_title {
    padding-top: 60px;
    font-weight: 600;
    font-size: 60px;
    /* line-height: 50px; */
    letter-spacing: 0.4px;
    text-align: center;
}

.blueBlock_content {
    display: flex;
    margin-top: 60px;
    padding-bottom: 20px;
}

.content_part {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.content_part > img {
    width: 100%;
}

.content_firstText {
    text-align: center;
    margin-top: 40px;
}

.content_firstText > span {
    font-weight: 400;
    /* font-weight: 500; */
    font-size: 42px;
    letter-spacing: 0.6px;
}

.content_secondText {
    text-align: center;
    margin-bottom: 110px;
}

.content_secondText > span {
    font-weight: 400;
    /* font-weight: 500; */
    font-size: 42px;
    letter-spacing: 0.6px;
}

.content_firstText > div {
    margin-top: 55px;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    letter-spacing: 0.6px;
    color: #000000;
}

.content_secondText > div {
    margin-top: 55px;
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 28px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.6px;
    color: #000000;
}
